.tms- {
	&search-box{
		width: 100%;
		height: 2rem;
		display: flex;
		align-items: center;
		padding-left: 1rem;
		padding-right: 1rem;
		border: 1px solid var(--boderColor);
		box-shadow: 0px 0.4375rem 4rem var(--boxshadow);
		input[type=text] {
			margin: 0;
			flex: 1;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			z-index: 1;
			min-width: 5rem;
			min-height: 2rem;
			background: none;
			height: 100%;
			text-align: left;
			cursor: text;
			outline: none;
			color: #8E97A7;
			transition: all 0.4s;
			border: none;
			&:focus {
				border: none;
			}
			&::-webkit-input-placeholder {
				color: #D3D8DE;
			}
			&:-moz-placeholder {
				color: #D3D8DE;
			}
			&::-moz-placeholder {
				color: #D3D8DE;
			}
			&:-ms-input-placeholder {
				color: #D3D8DE;
			}
		}
	}
	&select {
		width: 100%;
		position: relative;
		vertical-align: middle;
		padding: 0;
		align-items: center;
		background: #FFFFFF;
		border: 1px solid var(--boderColor);
		box-shadow: 0px 0.4375rem 4rem var(--boxshadow);
		border-radius: 2px;
		z-index: 2;
		&[error] {
			border: 1px solid var(--err);
			.tms-errors {
				display: block;
			}
		}
		select {
			cursor: pointer;
			padding-left: 0.625rem;
			padding-right: 0.625rem;
			display: block;
			width: 100%;
			height: 2rem;
			background: transparent;
			border: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			&:focus {
				outline: none;
			}
			&:focus + .arrow_box {
				@include arrowTransition(.3s, -180deg);
			}
		}
		.arrow_box {
			width: 1.25rem;
			height: 1rem;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0.25rem;
			margin: auto;
			@include arrowTransition(.3s, 0deg);
		}
	}
	&select-box {
		&-xs {
			min-width: 4rem !important;
			width: auto !important;
		}
		&-small {
			min-width: 7.5rem !important;
			width: auto !important;
		}
		&-medium {
			min-width: 11.25rem !important;
			width: auto !important;
		}
		&:focus {
			outline: none;
			border: none;
		}
		&.multi {
			& > ul {
				top: calc(100%) !important;
				border-radius: 0 0 6px 6px;
				border-top: dashed 1px #D3D8DE;
			}
		}
		position: relative;
		width: 100%;
		box-shadow: 0px 0.4375rem 4rem var(--boxshadow);
		border-radius: 6px;
		display: flex;
		flex-flow: wrap;
		align-items: center;
		padding: 0;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		background: #ffffff;
		user-select: none;
		outline: none;
		border: none;
		input[type=text] {
			flex: 1;
			z-index: 1;
			min-width: 5rem;
			min-height: 2rem;
			background: none;
			padding: 0.42rem 1.75rem 0.42rem 1rem !important;
			height: 100%;
			text-align: left;
			cursor: text;
			outline: none;
			color: #8E97A7;
			border-top: 0;
			border-left: 0;
			border-right: 0;
			border-bottom: 1px solid #ffffff;
			transition: all 0.4s;
			&:focus {
				border-bottom: 1px solid #56A7FD;
				transition: all 0.4s;
			}
			&::-webkit-input-placeholder {
				color: #D3D8DE;
			}
			&:-moz-placeholder {
				color: #D3D8DE;
			}
			&::-moz-placeholder {
				color: #D3D8DE;
			}
			&:-ms-input-placeholder {
				color: #D3D8DE;
			}
		}
		.arrow_box {
			width: 1.25rem;
			height: 1rem;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0.25rem;
			margin: auto;
			@include arrowTransition(.3s, 0deg);
		}
		@include roll;

	}
	&select-content {
		width: 100%;
		height: 2rem;
		background: #FFFFFF;
		border-radius: 2px;
		display: flex;
		position: relative;
		flex-direction: row !important;
		flex-flow: wrap;
		align-items: normal !important;
		.down-arrow {
			-webkit-transform: rotate(-180deg);
			transform: rotate(-180deg);
			transition: -webkit-transform 0.3s;
			transition: transform 0.3s, -webkit-transform 0.3s;
		}
		.arrow_box {
			width: 1.25rem;
			height: 0.625rem;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0.25rem;
			margin: auto;
			transition: -webkit-transform 0.3s;
			transition: transform 0.3s, -webkit-transform 0.3s;
		}
		.tms-cross {
			width: 1.25rem;
			height: 0.625rem;
			position: absolute;
			top: 40%;
			bottom: 0;
			right: 1.625rem;
			z-index: 999;
			cursor: pointer;
		}
		.tms-cross:after, .tms-cross:before {
			content: ' ';
			position: absolute;
			top: 50%;
			margin-top: -0.40em;
			left: 50%;
			margin-left: -0.06em;
			display: block;
			width: 0.09em;
			height: 0.75em;
			background: var(--gray);
		}
		.tms-cross:after {
			-webkit-transform: rotate(-45deg);
		}
		.tms-cross:before {
			-webkit-transform: rotate(45deg);
		}
		input[type=text] {
			width: 100%;
			border: 1px solid var(--boderColor);
			box-shadow: 0px 0.4375rem 4rem var(--boxshadow);
			padding-left: 1rem;
			padding-right: 1rem;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			outline: none;
			min-width: 20%;
			background: none;
			flex: 1;
			z-index: 2;
			cursor: pointer;
			&:focus {
				border: 1px solid var(--green);
			}

		}
		input[error] {
			border: 1px solid var(--err);
			& +.tms-errors{
				display: block;
			}
		}

		.select-content-ul {
			position: absolute;
			top: calc(100% + 0.5rem);
			left: 0;
			min-width: 100%;
			background: #FFFFFF;
			border: 1px solid var(--boderColor);
			border-radius: 2px;
			z-index: 99999999;
			max-height: 12.5rem;
			overflow-y: auto;
			&::-webkit-scrollbar {
				width: 0.5rem;
				height: 0.0625rem;
			}
			&::-webkit-scrollbar-thumb {
				border-radius: 6px;
				-webkit-box-shadow: inset 0 0 0.3125rem rgba(0, 0, 0, 0.2);
				background: var(--gray);
			}
			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 0.3125rem rgba(0, 0, 0, 0.2);
				border-radius: 2px;
				background: #EDEDED;
			}
			li {
				min-width: 100%;
				min-height: 2.5rem;
				height: 2.5rem;
				padding-left: 1.375rem;
				padding-right: 1.375rem;
				cursor: pointer;
				white-space: nowrap;
				position: relative;
				display: flex;
				align-items: center;
				input[type=button] {
					border: none;
					height: 100% !important;
					width: 100%;
					padding-left: 1.375rem;
					padding-right: 1.375rem;
					text-align: left;
					background: none;
					display: block;
					outline: none;
					cursor: pointer;

				}
				&:hover {
					background: #D4E1EE;
				}
			}
		}

	}
	&arrow-d {
		width: 1.25rem;
		height: 1rem;
		position: relative;
		z-index: 2;
		&:after, &:before {
			content: "";
			width: 0;
			height: 0;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 5;
			border-bottom: 8px transparent dashed;
			border-left: 8px transparent dashed;
			border-right: 8px transparent dashed;
			border-top: 8px white solid;
			overflow: hidden;
		}
		&:before {
			top: 0.125rem;
			border-top: 8px #333 solid;
		}
		&:after {
			border-top: 8px #fff solid;
		}

	}
	&radio, &checkbox {
		position: absolute;
		display: none;
		& + label {
			position: relative;
			margin: 0;
			display: block;
			min-width: 1.5rem;
			cursor: pointer;
			font-size: 1rem;
			line-height: 1.5rem;
			height: 1.5rem;
			vertical-align: middle;
			&:hover:before {
				animation-duration: 0.4s;
				animation-fill-mode: both;
				animation-name: hover-color;
			}
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				width: 1.5rem;
				box-sizing: border-box;
				height: 1.5rem;
				content: '';
				border: 1px solid #989A9C;
			}
			&:after {
				position: absolute;
				display: none;
				content: '';
			}
		}
		&[disabled] {
			cursor: not-allowed;
			& + label {
				cursor: not-allowed;
				color: #e4e4e4;
				&:hover,
				&:before,
				&:after {
					cursor: not-allowed;
				}
				&:hover:before {
					border: 1px solid #e4e4e4;
					animation-name: none;
				}
				&:before {
					border-color: #e4e4e4;
				}
			}
		}
		&:checked {
			& + label {
				&:before {
					animation-name: none;
				}
				&::after {
					display: block;
				}
			}
		}
		//&[checked] {
		//	&+label {
		//		&:before {
		//			animation-name: none;
		//		}
		//		&::after {
		//			display: block !important;
		//		}
		//	}
		//}
	}
	&radio {
		& + label {
			&:before {
				border-radius: 50%;
			}
			&:after {
				top: 0.3125rem;
				left: 0.3125rem;
				width: 0.875rem;
				height: 0.875rem;
				border-radius: 50%;
				background: #777879;
			}
		}
		&:checked {
			& + label {
				&:before {
					border: 1px solid #989A9C;
				}

			}
			&[disabled] {
				& + label {
					&:before {
						border: 1px solid #989A9C;
					}
				}
			}

		}
	}
	&checkbox {
		& + label {
			&:before {
				border-radius: 3px;
			}
			&:after {
				top: 0.25rem;
				left: 0.5625rem;
				box-sizing: border-box;
				width: 0.375rem;
				height: 0.75rem;
				transform: rotate(45deg);
				border-width: 2px;
				border-style: solid;
				border-color: #777879;
				border-top: 0;
				border-left: 0;
			}
		}
		&:checked {
			& + label {
				&:before {
					border: 1px solid #989A9C;
					background: inherit;
				}

			}
			&[disabled] {
				& + label {
					&:after {
						border-color: #d6d8da !important;
					}
					&:before {
						border: 1px solid #d6d8da !important;
						background: inherit !important;
					}
				}
			}
		}
	}
	&input {
		background: #FFFFFF;
		height: 2rem;
		border: 1px solid var(--boderColor);
		box-shadow: 0px 0.4375rem 4rem var(--boxshadow);
		border-radius: 2px;
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
		color: #444545;
		&:focus {
			outline: none;
		}
		&[disabled] {
			cursor: not-allowed;
			color: var(--disabled);
			:after {
				cursor: not-allowed;
			}

		}
		&::-webkit-input-placeholder {
			color: var(--disabled);
		}
		&:-moz-placeholder {
			color: var(--disabled);
		}
		&::-moz-placeholder {
			color: var(--disabled);
		}
		&:-ms-input-placeholder {
			color: var(--disabled);
		}
		&[error] {
			border: 1px solid var(--err);
			+ .tms-errors {
				display: block;
			}

		}
	}
	&button {
		height: 2.5rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		@include flexCenter(center);
		cursor: pointer;
		border: 1px solid #989A9C;
		font-size: 0.875rem;
		min-width: 7.5rem;
		text-align: center;
		color: var(--info);
		outline: 0;
		border-radius: 2px;
		font-weight: 600;
		letter-spacing: 0.021rem;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background: inherit;
		box-sizing: border-box;
		&:hover, &:focus {
			text-decoration: none;
			outline: 0;
		}
		& > .icon-box {
			margin-right: 0.857rem;
		}
		&.active {
			background-color: #519bed !important;
		}
		&[disabled] {
			cursor: not-allowed !important;
			color: var(--disabled) !important;
			border: 1px solid #c1c3c6 !important;
		}

	}
	&primary {
		background: #7FA9B3;
		color: #ffffff;
	}
	&cont-block {
		border-radius: 4px;
		-moz-box-shadow: 0px 0.125rem 0.625rem var(--boxshadow);
		-moz-box-shadow: 0px 0.125rem 0.625rem var(--boxshadow);
		-webkit-box-shadow: 0px 0.125rem 0.625rem var(--boxshadow);
		-webkit-box-shadow: 0px 0.125rem 0.625rem var(--boxshadow);
		box-shadow: 0px 0.125rem 0.625rem var(--boxshadow);
		box-shadow: 0px 0.125rem 0.625rem var(--boxshadow);
		padding: 1.5rem 1.3125rem;
		padding: 1.5rem 1.3125rem;
		margin-bottom: 1.5rem;
		margin-bottom: 1.5rem;
	}
	&add {
		width: 0.75rem;
		height: 0.75rem;
		position: relative;
		margin-left: 0.75rem;
		margin-right: 0.75rem;
		&:after, &:before {
			content: "";
			position: absolute;
			z-index: 5;
			background: var(--info);

		}
		&:before {
			left: 0.3125rem;
			top: 0;
			bottom: 0;
			width: 0.125rem;
		}
		&:after {
			left: 0;
			top: 0.3125rem;
			right: 0;
			height: 0.125rem;
		}
	}
	&other-button {
		width: 100%;
		height: 2.5rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border: 1px solid #989A9C;
		box-sizing: border-box;
		border-radius: 2px;
		color: #549aaa;
		white-space: nowrap;
	}
	&hr {
		margin-top: 1rem;
		margin-bottom: 1rem;
		border: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	&ul {
		padding: 0;
		margin: 0;
		border: 1px solid #C8D8E4;
		box-sizing: border-box;
		border-radius: 2px;
		height: 12.5rem;
		height: 12.5rem;
		overflow-y: auto;
		li {
			padding: 0.3125rem 0.9375rem;
			padding: 0.3125rem 0.9375rem;
			margin: 0;
			border-bottom: 1px solid #C8D8E4;
		}
	}
	&tabs {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 3rem;
		margin-top: 1.4375rem;
		list-style: none;
		border-bottom: 0.0625rem solid var(--disabled);
		div {
			flex: 1;
			text-align: center;
			cursor: pointer;
			height: 100%;
		}
		& > .active {
			border-bottom: 0.125rem solid var(--info);
			color: var(--info);
		}

	}
	&q-s-block {
		background: #FFFFFF;
		box-shadow: 0px 0.4375rem 4rem var(--boxshadow);
		border-radius: 2px;
		min-height: 4.875rem;
		min-width: 17.1875rem;
		padding: 1.375rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		img {
			padding-right: 1.375rem;
			height: 2.875rem;
			width: auto;
		}
		.title {

		}
	}
	&functional {
		min-width: 7.5rem;
		width: inherit;
		min-height: 2rem;
		padding-right: 1rem;
		padding-left: 1rem;
		background: #FFFFFF;
		@include flexCenter(center);
		justify-content: space-between !important;
		border: 1px solid var(--boderColor);
		box-shadow: 0px 0.4375rem 4rem var(--boxshadow);
		border-radius: 2px;
		& > i {
			font-size: 0.875rem;
			color: #8E97A7;
		}
		& > span {
			color: #8E97A7;
		}
		input {
			flex: 1;
			height: 100%;
			border: none;
			outline: none;
			&:focus {
				outline: none;
			}
			&[disabled] {
				cursor: not-allowed;
				color: var(--disabled);
				:after {
					cursor: not-allowed;
				}

			}
		}
		.t-a-ri {
			text-align: right;
		}

	}
	&errors {
		display: none;
		position: absolute;
		left: calc(100% + 1rem);
		top: calc(50% - 1.125rem);
		bottom: 0;
		z-index: 99999;
		margin: auto;
		.triangle-left {
			position: relative;
			width: 100%;
			padding: 0.3125rem 1rem;
			border-radius: 2px;
			background: var(--err);
			color: var(--red);
			&:before {
				position: absolute;
				top: calc(50% - 0.375rem);
				left: -0.5rem;
				bottom: 0;
				margin: 0;
				width: 0;
				height: 0;
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				border-right: 8px solid var(--err);
				content: '';
			}
		}
	}
	&tooltips {
		position: relative;
		& > .warn {
			position: absolute;
			width: 1rem;
			height: 1rem;
			z-index: 100;
			right: 1rem;
			top: 0.5rem;
			background: none;
			border-color: inherit !important;
			border-style: solid;
			border-width: 2px;
			border-radius: 1rem;
			&:before {
				content: '?';
				position: absolute;
				top:-0.125rem;
				left: 0px;
				color: inherit;
				text-align: center;
				line-height: 1rem;
				font-size: 0.75rem;
				font-weight: bold;
				width: 0.75rem;
				height: 0.75rem;
			}
		}
		& > .totip {
			display: none;
			position: absolute;
			z-index: 10;
			min-height: 2rem;
			height: auto;
			padding: 0.5em 1em;
			border-radius: 6px;
			line-height: 1.5;
			font-size: 0.75rem;
			&:before {
				position: absolute;
				content: " ";
				border-width: 0.5rem;
				width: 0;
				height: 0;
				border-style: solid;
			}
		}
		& > .warn ~ .left {
			right: 0rem;
			min-width: 11.25rem;
			top: calc(100%);
			&:before {
				top: -0.875rem;
				right: 1rem;
				border-color: transparent transparent currentColor transparent;
			}

		}
		& > .warn:hover ~ .left {
			display: block;
		}
		& > .warn ~ .right {
			left: calc(100%);
			min-width: 11.25rem;
			top: 0;
			&:before {
				top: 0.625rem;
				left: -0.875rem;
				border-color: transparent currentColor transparent transparent;
			}

		}
		& > .warn:hover ~ .right {
			display: block;
		}
	}
	&bl-radio-box{
		position: relative;
		input[type=radio]{
			position: absolute;
			display: none;
			& + label {
				cursor: pointer;
				width: 7.4375rem;
				height: 2.5rem;
				display: flex;
				padding: 0;
				justify-content: center;
				align-items: center;
				border: 1px solid var(--gray);
				&:hover:before {
					animation-duration: 0.4s;
					animation-fill-mode: both;
					animation-name: hover-color;
				}
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					cursor: pointer;
					display: inline-block;
					width: 7.4375rem;
					box-sizing: border-box;
					height: 2.5rem;
					content: '';
				}
			}
			&:checked{
				&+ label {
					border: 1px solid var(--info);
					color: var(--info)
				}
			}
			&[disabled]{
				&+ label {
					cursor: not-allowed;
					border: 1px solid var(--disabled);
					color: var(--disabled)
				}
			}
		}
	}
	&datepicker-box{
		width: 100%;
		position: relative;
		.img_box{
			position: absolute;
			top: 0.375rem;
			height: 1.25rem;
			right: 1rem;
			z-index: 1;
		}
		.datepicker{
			flex: 1;
			input[type=text]{
				width: 100%;
				height: 2rem;
				background: #ffffff;
				border: 1px solid var(--boderColor);
				box-shadow: 0px 0.4375rem 4rem var(--boxshadow);
				border-radius: 2px;
				padding-left: 1rem;
				padding-right: 1rem;
				outline: none;
				&:focus {
					outline: none;
				}

			}
		}
	}
	&table-space{
		width: 100%;
		border-collapse: separate;
		border-spacing: 0 0.875rem;
		thead{
			tr{
				border: none;
				th{
					min-height: 4.375rem;
					&:first-child{
						padding-left: 1.3125rem;
					}
					&:last-child{
						padding-right: 1.3125rem;
					}
				}
			}
		}
		tbody{
			tr{
				box-sizing: border-box;
				box-shadow: 0px 0.125rem 0.625rem var(--boxshadow);
				border-radius: 4px;
				box-sizing: border-box;
				padding: 0;
				margin: 0;
				td{
					min-height: 4.375rem;
					height: 4.375rem;
					background: #ffffff;
					vertical-align: middle;
					border-top: 1px solid var(--boderColor);
					border-bottom: 1px solid var(--boderColor);
					&:first-child{
						padding-left: 1.3125rem;
						border-left: 1px solid var(--boderColor);
						border-radius: 4px 0 0 4px;
					}
					&:last-child{
						padding-right: 1.3125rem;
						border-radius:  0 4px 4px 0;
						border-right: 1px solid var(--boderColor);
					}
				}
			}
		}

	}
	&icon_dropdown{
		width: 2rem;
		height: 2rem;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background:var(--white);
		border: 1px solid var(--grayLine);
		box-sizing: border-box;
		cursor: pointer;
		.icon-dot{
			width: 0.1875rem;
			height: 0.1875rem;
			position: relative;
			background: var(--gray);
			border-radius: 3px;
			&:before{
				content: '';
				position: absolute;
				top: 0.375rem;
				width: 0.1875rem;
				height: 0.1875rem;
				background: var(--gray);
				border-radius: 3px;
			}
			&:after{
				content: '';
				position: absolute;
				top: -0.375rem;
				width: 0.1875rem;
				height: 0.1875rem;
				background: var(--gray);
				border-radius: 3px;
			}
		}
		.select-content-ul {
			position: absolute;
			top: calc(100% + 0.5rem);
			right: 0;
			min-width: 100%;
			background: #FFFFFF;
			border: 1px solid var(--grayDepth);
			border-radius: 2px;
			z-index: 99999999;
			max-height: 25rem;
			padding: 0.25rem;
			overflow-y: auto;
			&::-webkit-scrollbar {
				width: 0.5rem;
				height: 0.0625rem;
			}
			&::-webkit-scrollbar-thumb {
				border-radius: 6px;
				-webkit-box-shadow: inset 0 0 0.3125rem rgba(0, 0, 0, 0.2);
				background: var(--gray);
			}
			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 0.3125rem rgba(0, 0, 0, 0.2);
				border-radius: 2px;
				background: #EDEDED;
			}
			li {
				min-width: 100%;
				min-height: 2.5rem;
				height: 2.5rem;
				padding-left: 1.375rem;
				padding-right: 1.375rem;
				cursor: pointer;
				white-space: nowrap;
				position: relative;
				display: flex;
				align-items: center;
				input[type=button] {
					border: none;
					height: 100% !important;
					width: 100%;
					padding-left: 1.375rem;
					padding-right: 1.375rem;
					text-align: left;
					background: none;
					display: block;
					outline: none;
					cursor: pointer;

				}
				&:hover {
					background: #EDEDED;
				}
			}
		}
	}
	&status{
		border-radius: 12px;
		display: inline-block;
		min-width: 4.4375rem;
		padding: 0.25rem 0.5rem;
		white-space:nowrap;
		font-size: 0.75rem;
	}
	&status-green{
		background: var(--greenLine);
		color: var(--greenbled);
	}
	&status-purple{
		background: var(--purpleLine);
		color: var(--purplebled);
	}
	&status-pink{
		background: var(--pinkLine);
		color: var(--pinkbled);
	}
	&status-lightGreen{
		background: var(--lightGreenLine);
		color: var(--lightGreenBled);
	}
	&status-blue{
		background: var(--blueLine);
		color: var(--blueBled);
	}
	&stepper, &page {
		@include flexCenter(center);
		position: relative;
		display: inline-flex;
		justify-content: space-between;
		& > button:disabled {
			color: #DFE2E9;
			cursor: not-allowed;
			&:hover {
				color: #DFE2E9;
			}
		}
		& > button {
			width: 1.5rem;
			height: 1.5rem;
			border: none;
			outline: none;
			background: none;
			display: inline-block;
			border-radius: 6px;
			cursor: pointer;
			margin-right: 0.5rem;
			transition: all 0.4s;
			@include flexCenter(center);
			&:hover {
				transition: all 0.4s;

			}
			&:focus {
				border: none;
				outline: none;
				transition: all 0.4s;
			}
			& > .minus {
				width: 0.5rem;
				height: 0.125rem;
				background: currentcolor;
				border-radius: 4px;
			}
			& > i{
				margin-top: 0.125rem;
			}

		}
		& > span {
			display: inline-block;
			margin-right: 1rem;
			margin-left: 0.3rem;
			font-weight: 600;
		}
		&>.input-box{
			margin-right: 0.3rem;
			margin-left: 0.3rem;
			height: 1.5rem;
			font-size: 0.875rem;
			padding: 0 0.65rem;
			display: inline-block;
			color: #ffffff;
			position: relative;
			& > input[type=text] {
				position: absolute;
				border-radius: 8px;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				font-size: 0.875rem;
				display: inline-flex;
				padding: 0 0.4rem 0 0.6rem;
				border: none;
				outline: none;



				@include placeholder;
				&:focus {
					outline: none;
				}
				& ~.error-box{
					display: none;
				}
				&.error{
					background: #FFFFFF;
					color: #56A7FD!important;
					border: 1px solid #ED5158!important;

				}
			}


		}
		&>.error{
			white-space:nowrap;
			width: auto;
			display: inline-block;
			position: absolute;
			bottom: -1.125rem;
			right: 0;
			color:#ED5158 ;
		}
		&> .select {
			position: relative;
			box-shadow: 0px 0.4375rem 4rem rgba(44, 60, 89, 0.07);
			border-radius: 6px;
			color: #56A7FD;



			width: auto!important;
			padding-right: 1.5rem!important;
			margin-right: 0.625rem;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			background: #ffffff;
			font-weight: normal;
			font-size: 0.625rem;
			user-select: none;
			outline: none;
			border: none;
			@include roll;
			& + span{
				font-weight: normal;
				font-size: 0.625rem;
			}
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				margin-top: -0.125rem;
				right: 0.625rem;
				border-width: 4px !important;
				width: 0;
				height: 0;
				z-index: 0;
				border-style: solid;
				border-color: currentcolor transparent transparent transparent;
			}


		}
	}
	&arrow {
		display: inline-block;
		position: relative;
		font-size: inherit;
		width: 0.6em;
		&::after {
			display: inline-block;
			content: " ";
			height: 0.6em;
			width: 0.6em;
			border-width: 0 1px 1px 0;
			border-color: currentcolor;
			border-style: solid;
			-webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
			transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
			-webkit-transform-origin: center;
			transform-origin: center;
			transition: -webkit-transform .3s;
			transition: transform .3s, -webkit-transform .3s;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -0.375em;
			margin-left: -0.375em;
		}
		&.up::after {
			@include arrowTransition(.3s, -135deg);
		}
		&.right::after {
			@include arrowTransition(.3s, -45deg);
		}
		&.left::after {
			@include arrowTransition(.3s, 135deg);
		}
	}
	&switch {
		&,&-style,&-style:before{
			box-sizing: border-box;
		}

		display: inline-block;
		font-size: 100%;
		height: 1.6em;
		line-height: 1.6em;
		position: relative;
		&>span{
			vertical-align: middle;
		}
		&>span:last-child{
			vertical-align: middle;
			margin-left: 0.5rem;
		}
		&-style {
			height: 1.6em;
			left: 0;
			background: #C0CCDA;
			border-radius: 0.8em;
			display: inline-block;
			position: relative;
			top: 0;
			transition: all .3s ease-in-out;
			width: 4em;
			cursor: pointer;
			&:before{
				display: block;
				content:'';
				height: 1.4em;
				position: absolute;
				width: 1.4em;
				background-color: #fff;
				border-radius: 50%;
				left: 0.1em;
				top: 0.1em;
				transition: all .3s ease-in-out;
			}
		}
		&>input[type="checkbox"]{
			display:none;
			&[disabled] + .tms-switch-style{
				cursor: not-allowed;
				background-color:#C0CCDA;
			}
			&:checked + .tms-switch-style{
				background-color: var(--blueGreen);
				&:before{
					left:61%;
				}
			}
			&:checked[disabled] + .tms-switch-style{
				background-color:#b0d7f5;
			}
		}
		&>&-blue>input[type="checkbox"]{
			&:checked + .tms-switch-style{
				background-color: var(--blueGreen);;
			}
			&:checked[disabled] + .tms-switch-style{
				background-color:var(--blueGreen);
			}
		}
	}

}



