:root {
  --primary: #444545;
  --info: #488492;
  --pink: #F29293;
  --gray: #777879;
  --grayLine: #989A9C;
  --white: #FFFFFF;
  --err: #F29293;
  --red: #E52628;
  --disabled: rgba(68, 69, 69, 0.4);
  --boderColor: rgba(68, 69, 69, 0.2);
  --greenTint: #D5E9FA;
  --green: #52AB98;
  --mainHW: 12px;
  --tickW: 6px;
  --tickH: 2px;
  --crossW: 6px;
  --crossH: 2px;
  --nablaW: 6px;
  --nablaT: 8px;
  --matrixTop: 0;
  --arrowupT: -4px;
  --arrowl: 12px;
  --arrowrT: -6px;
  --arrowll: -6px; }

.br-err {
  border-color: var(--err); }
.br-1 {
  border-width: 1px; }
.br-solid {
  border-style: solid; }

.bg-white {
  background: var(--white); }
.bg-err {
  background: var(--err); }
.bg-red {
  background: var(--red); }
.bg-grayLine {
  background: var(--grayLine); }
.bg-green {
  background: var(--green); }
.bg-greenTint {
  background: var(--greenTint); }

.ft-white {
  color: var(--white); }
.ft-red {
  color: var(--red); }
.ft-grayLine {
  color: var(--grayLine); }
.ft-green {
  color: var(--green); }
.ft-greenTint {
  color: var(--greenTint); }

.primary {
  color: var(--primary); }

.info {
  color: var(--info); }

.gray {
  color: var(--gray); }

.pink {
  color: var(--pink); }

.border-info {
  border: 1px solid var(--info); }

.border-1 {
  border: 1px solid #E9EBEF; }

.white-bg {
  background: var(--white) !important; }

.accents {
  color: #56A7FD !important; }

.accents-50 {
  color: #D5E9FA !important; }

.fb-24 {
  font-weight: bold;
  font-size: 24px; }

.fb-18 {
  font-weight: bold;
  font-size: 18px; }

.fb-14 {
  font-weight: bold;
  font-size: 14px; }

.fb-16 {
  font-weight: bold;
  font-size: 16px; }

.fb-12 {
  font-weight: bold;
  font-size: 12px; }

.f-12 {
  font-size: 12px; }

.cursor-p {
  cursor: pointer; }

.cursor-not {
  cursor: not-allowed; }

.po-r {
  position: relative; }

label {
  font-size: 14px !important; }

.mask-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.tms-aside {
  height: 100%;
  box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.17);
  z-index: 99999; }
  .tms-aside .aside-unfold {
    width: 12rem;
    transition: all 0.5s;
    position: relative;
    height: 100%;
    display: flex; }
    .tms-aside .aside-unfold .aside-controller {
      position: absolute;
      right: -0.8rem;
      cursor: pointer;
      top: 4.3rem;
      box-shadow: 0px 0px 3px rgba(44, 60, 89, 0.2);
      background: #FFFFFF;
      border-radius: 0.1rem;
      Width: 1.45rem;
      Height: 1.45rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .tms-aside .aside-unfold .aside-controller .right {
        position: relative; }
      .tms-aside .aside-unfold .aside-controller .right-arrow1, .tms-aside .aside-unfold .aside-controller .right-arrow2 {
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        left: -8px;
        top: -6px;
        border-top: 6px transparent dashed;
        border-left: 6px transparent dashed;
        border-bottom: 6px transparent dashed;
        border-right: 6px #ff5238 solid;
        overflow: hidden; }
      .tms-aside .aside-unfold .aside-controller .right-arrow1 {
        left: -10px;
        border-right: 6px #333 solid; }
      .tms-aside .aside-unfold .aside-controller .right-arrow2 {
        border-right: 6px #ffffff solid; }
      .tms-aside .aside-unfold .aside-controller:hover {
        background: #7FA9B3; }
        .tms-aside .aside-unfold .aside-controller:hover .right-arrow1 {
          border-right: 6px #ffffff solid; }
        .tms-aside .aside-unfold .aside-controller:hover .right-arrow2 {
          border-right: 6px #7FA9B3 solid; }
      .tms-aside .aside-unfold .aside-controller:active {
        background: #488492; }
        .tms-aside .aside-unfold .aside-controller:active .right-arrow1 {
          border-right: 6px #ffffff solid; }
        .tms-aside .aside-unfold .aside-controller:active .right-arrow2 {
          border-right: 6px #488492 solid; }
    .tms-aside .aside-unfold .parent-level-big {
      background: #444545;
      padding: 1.65rem 0.4rem;
      width: 100%;
      transition: all 0.5s;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: column; }
      .tms-aside .aside-unfold .parent-level-big .log-big {
        width: 6.35rem;
        transition: all 0.5s;
        height: 2.6rem;
        display: block;
        margin-bottom: 1.75rem; }
        .tms-aside .aside-unfold .parent-level-big .log-big img {
          width: 6.35rem;
          height: auto; }
      .tms-aside .aside-unfold .parent-level-big .log-nano {
        width: 1.55rem;
        height: 2.6rem;
        margin-bottom: 1.75rem;
        display: none; }
        .tms-aside .aside-unfold .parent-level-big .log-nano img {
          width: 1.55rem;
          height: auto; }
      .tms-aside .aside-unfold .parent-level-big > .active {
        background: rgba(200, 216, 228, 0.7);
        transition: all 0.5s; }
      .tms-aside .aside-unfold .parent-level-big .item_connect {
        margin: 1.05rem 0;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: all 0.5s; }
        .tms-aside .aside-unfold .parent-level-big .item_connect:hover {
          background: rgba(200, 216, 228, 0.7);
          transition: all 0.5s; }
        .tms-aside .aside-unfold .parent-level-big .item_connect .item_box {
          width: 100%;
          transition: all 0.5s;
          display: flex;
          align-items: center;
          justify-content: flex-start !important;
          height: 1.8rem; }
          .tms-aside .aside-unfold .parent-level-big .item_connect .item_box .img-box {
            margin-left: 1.4rem;
            width: 1.4rem;
            display: flex;
            align-items: center;
            text-align: center; }
            .tms-aside .aside-unfold .parent-level-big .item_connect .item_box .img-box img {
              height: 1rem;
              width: auto; }
          .tms-aside .aside-unfold .parent-level-big .item_connect .item_box .pro-ab {
            width: auto;
            overflow: hidden;
            transition: all 0.5s; }
            .tms-aside .aside-unfold .parent-level-big .item_connect .item_box .pro-ab .text-box {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-left: 1rem; }
              .tms-aside .aside-unfold .parent-level-big .item_connect .item_box .pro-ab .text-box img {
                height: 0.65rem;
                width: auto;
                display: none; }
              .tms-aside .aside-unfold .parent-level-big .item_connect .item_box .pro-ab .text-box .text {
                white-space: nowrap;
                color: #FFFFFF;
                font-style: normal;
                font-weight: bold;
                font-size: 0.7rem; }
    .tms-aside .aside-unfold .parent-level-small {
      width: 3.5rem;
      transition: all 0.5s; }
      .tms-aside .aside-unfold .parent-level-small .log-big {
        display: none; }
      .tms-aside .aside-unfold .parent-level-small .log-nano {
        display: block; }
      .tms-aside .aside-unfold .parent-level-small .item_connect {
        width: 70% !important;
        transition: all 0.5s; }
        .tms-aside .aside-unfold .parent-level-small .item_connect:hover .pro-ab {
          display: block !important; }
        .tms-aside .aside-unfold .parent-level-small .item_connect .item_box {
          width: 100% !important;
          justify-content: center !important; }
          .tms-aside .aside-unfold .parent-level-small .item_connect .item_box .img-box {
            margin-left: auto;
            width: 1.4rem;
            display: contents !important;
            text-align: center;
            background: red; }
            .tms-aside .aside-unfold .parent-level-small .item_connect .item_box .img-box img {
              height: 1rem;
              width: auto; }
          .tms-aside .aside-unfold .parent-level-small .item_connect .item_box .pro-ab {
            width: 0px;
            overflow: hidden;
            transition: all 0.5s;
            display: none; }
            .tms-aside .aside-unfold .parent-level-small .item_connect .item_box .pro-ab .text-box {
              position: absolute;
              left: 73%;
              top: 0;
              height: 1.8rem;
              width: 8rem;
              margin-left: 1.3rem;
              white-space: nowrap;
              color: #FFFFFF;
              display: flex;
              justify-content: center;
              align-items: center; }
              .tms-aside .aside-unfold .parent-level-small .item_connect .item_box .pro-ab .text-box img {
                display: block; }
              .tms-aside .aside-unfold .parent-level-small .item_connect .item_box .pro-ab .text-box .text {
                width: 7rem;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 1.8rem;
                background: #444545;
                border-radius: 0.1rem; }
    .tms-aside .aside-unfold .parent-details {
      width: 0px;
      flex: inherit;
      overflow: hidden;
      height: 100%;
      background: #ffffff;
      transition: all 0.5s; }
      .tms-aside .aside-unfold .parent-details .business-box {
        min-width: 8rem;
        height: 100%;
        padding: 1.95rem 0.4rem; }
        .tms-aside .aside-unfold .parent-details .business-box .business {
          font-weight: bold;
          font-size: 0.9rem;
          line-height: 1.2rem;
          color: #444545;
          width: 100%;
          text-align: center;
          margin-bottom: 3.25rem; }
        .tms-aside .aside-unfold .parent-details .business-box .business-item {
          cursor: pointer;
          width: 95%;
          font-style: normal;
          font-weight: bold;
          font-size: 0.7rem;
          padding: 0.4rem 1rem 0.4rem 0.5rem;
          margin: 0.35rem 0.1rem;
          box-sizing: border-box;
          background: #ffffff;
          border-radius: 0.1rem;
          white-space: nowrap;
          transition: all 0.5s; }
          .tms-aside .aside-unfold .parent-details .business-box .business-item:hover {
            background: rgba(200, 216, 228, 0.7);
            transition: all 0.5s; }
        .tms-aside .aside-unfold .parent-details .business-box .active {
          background: rgba(200, 216, 228, 0.7);
          transition: all 0.5s; }
    .tms-aside .aside-unfold .fold-details {
      flex: 1; }
  .tms-aside .aside-fold {
    width: 3.5rem;
    transition: all 0.5s; }
    .tms-aside .aside-fold .aside-controller .right {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
.tms-a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: inherit;
  cursor: pointer; }
  .tms-a:hover {
    color: inherit;
    text-decoration: none; }

.tms-topBar {
  background: #FFFFFF;
  height: 60px;
  box-shadow: 0px 2px 10px rgba(44, 60, 89, 0.07);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 28px; }
  .tms-topBar .search-box {
    width: 218px;
    position: relative;
    transition: all 0.5s;
    height: 36px;
    border: 2px solid rgba(68, 69, 69, 0.4);
    box-sizing: border-box;
    border-radius: 2px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-right: 8px; }
    .tms-topBar .search-box .placeholder {
      position: absolute;
      top: 6px;
      bottom: 0;
      left: 15px;
      color: #989A9C;
      font-size: 14px;
      z-index: 0;
      transition: all 0.5s; }
    .tms-topBar .search-box .placeholder-in {
      left: -100px;
      transition: all 0.5s; }
    .tms-topBar .search-box input {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      left: 0;
      right: 15px;
      display: block;
      height: 100%;
      border: none;
      background: none;
      outline: none;
      padding-left: 8px;
      padding-right: 8px;
      margin: 0; }
    .tms-topBar .search-box img {
      position: absolute;
      top: 5px;
      right: 5px; }
  .tms-topBar .search-box-in {
    transition: all 0.5s;
    width: 895px; }
  .tms-topBar .bell-box, .tms-topBar .user_box {
    width: 36px;
    height: 36px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 13px;
    position: relative;
    cursor: pointer; }
    .tms-topBar .bell-box:hover, .tms-topBar .user_box:hover {
      background: rgba(200, 216, 228, 0.5);
      border: 2px solid #C8D8E4;
      transition: all 0.5s; }
  .tms-topBar .bell-box .hint-box {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    color: #ffffff;
    position: absolute;
    top: -20%;
    right: -20%;
    background: #488492;
    font-size: 12px;
    text-align: center;
    line-height: 16px; }
  .tms-topBar .bell-box .notifications {
    position: absolute;
    top: 125%;
    right: 0;
    width: 480px;
    cursor: default;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(44, 60, 89, 0.2);
    z-index: 9999; }
    .tms-topBar .bell-box .notifications .title-box {
      height: 63px;
      line-height: 63px;
      font-weight: bold;
      font-size: 18px;
      background: rgba(200, 216, 228, 0.5);
      border-radius: 4px 4px 0 0;
      padding-left: 24px; }
    .tms-topBar .bell-box .notifications .messages_connect {
      max-height: 600px;
      overflow: auto; }
      .tms-topBar .bell-box .notifications .messages_connect .messages-box {
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        padding-top: 10px; }
        .tms-topBar .bell-box .notifications .messages_connect .messages-box .message-lable {
          height: 42px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .tms-topBar .bell-box .notifications .messages_connect .messages-box .message-lable .vew-all {
            color: #7FA9B3;
            border-radius: 4px;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            cursor: pointer; }
        .tms-topBar .bell-box .notifications .messages_connect .messages-box .detal_box {
          border-top: 1px solid #989A9C;
          margin-bottom: 24px; }
          .tms-topBar .bell-box .notifications .messages_connect .messages-box .detal_box .message-detals {
            display: flex;
            padding-top: 31px;
            padding-bottom: 31px;
            align-items: center; }
            .tms-topBar .bell-box .notifications .messages_connect .messages-box .detal_box .message-detals .img-box {
              width: 88px;
              height: 88px;
              margin-right: 24px;
              background: #C4C4C4; }
            .tms-topBar .bell-box .notifications .messages_connect .messages-box .detal_box .message-detals .detal-message {
              flex: 1;
              display: flex;
              flex-wrap: wrap;
              flex-direction: column; }
              .tms-topBar .bell-box .notifications .messages_connect .messages-box .detal_box .message-detals .detal-message .title {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                color: #777879; }
              .tms-topBar .bell-box .notifications .messages_connect .messages-box .detal_box .message-detals .detal-message .name {
                font-family: Lato;
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                line-height: 15px;
                color: #444545;
                margin-top: 8px; }
              .tms-topBar .bell-box .notifications .messages_connect .messages-box .detal_box .message-detals .detal-message .note {
                margin-top: 8px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #444545; }
            .tms-topBar .bell-box .notifications .messages_connect .messages-box .detal_box .message-detals .detal-stage {
              width: 16px;
              height: 16px;
              margin-left: 20px;
              border-radius: 100%;
              background: #488492; }
  .tms-topBar .user_box .user {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #444545;
    text-align: center;
    line-height: 25px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px; }
  .tms-topBar .user_box .user-connect {
    position: absolute;
    top: 125%;
    right: 0;
    width: 138px;
    cursor: default;
    background: #FFFFFF;
    padding-top: 5px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(44, 60, 89, 0.2);
    z-index: 9999; }
    .tms-topBar .user_box .user-connect .user-detal {
      padding: 20px 17px;
      border-bottom: 1px solid rgba(68, 69, 69, 0.2); }
    .tms-topBar .user_box .user-connect .title {
      font-weight: bold;
      font-size: 14px;
      color: #444545;
      padding-top: 5px; }
    .tms-topBar .user_box .user-connect .eml {
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      color: #444545;
      padding-top: 10px; }
    .tms-topBar .user_box .user-connect .manage {
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      padding-top: 10px;
      color: #7FA9B3;
      white-space: nowrap; }
    .tms-topBar .user_box .user-connect .logout {
      padding: 12px 17px;
      font-weight: bold;
      font-size: 14px;
      color: #444545;
      cursor: pointer; }
  .tms-topBar .active {
    transition: all 0.5s;
    background: rgba(200, 216, 228, 0.5);
    border: 2px solid #C8D8E4; }
.tms-button {
  min-width: 108px;
  height: 32px;
  border: 1px solid #989A9C;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  line-height: 32px;
  padding-right: 24px;
  padding-left: 24px;
  cursor: pointer; }

.tms-select {
  width: 100%;
  position: relative;
  vertical-align: middle;
  padding: 0;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid var(--boderColor);
  box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
  border-radius: 2px;
  z-index: 2; }
  .tms-select[error] {
    border: 1px solid var(--err); }
    .tms-select[error] .tms-errors {
      display: block; }
  .tms-select select {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    width: 100%;
    height: 32px;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none; }
    .tms-select select:focus {
      outline: none; }
    .tms-select select:focus + .arrow_box {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
  .tms-select .arrow_box {
    width: 20px;
    height: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4px;
    margin: auto;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
.tms-select-box {
  position: relative;
  width: 100%;
  box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
  border-radius: 6px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: #ffffff;
  user-select: none;
  outline: none;
  border: none; }
  .tms-select-box-xs {
    min-width: 64px !important;
    width: auto !important; }
  .tms-select-box-small {
    min-width: 120px !important;
    width: auto !important; }
  .tms-select-box-medium {
    min-width: 180px !important;
    width: auto !important; }
  .tms-select-box:focus {
    outline: none;
    border: none; }
  .tms-select-box.multi > ul {
    top: calc(100%) !important;
    border-radius: 0 0 6px 6px;
    border-top: dashed 1px #D3D8DE; }
  .tms-select-box input[type=text] {
    flex: 1;
    z-index: 1;
    min-width: 80px;
    min-height: 32px;
    background: none;
    padding: 0.42rem 28px 0.42rem 1rem !important;
    height: 100%;
    text-align: left;
    cursor: text;
    outline: none;
    color: #8E97A7;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ffffff;
    transition: all 0.4s; }
    .tms-select-box input[type=text]:focus {
      border-bottom: 1px solid #56A7FD;
      transition: all 0.4s; }
    .tms-select-box input[type=text]::-webkit-input-placeholder {
      color: #D3D8DE; }
    .tms-select-box input[type=text]:-moz-placeholder {
      color: #D3D8DE; }
    .tms-select-box input[type=text]::-moz-placeholder {
      color: #D3D8DE; }
    .tms-select-box input[type=text]:-ms-input-placeholder {
      color: #D3D8DE; }
  .tms-select-box .arrow_box {
    width: 20px;
    height: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4px;
    margin: auto;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .tms-select-box > ul {
    position: absolute;
    top: calc(100% + 0.571rem);
    min-width: 100%;
    padding: 0;
    right: 0;
    color: #505C73;
    background: #FFFFFF;
    box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
    border-radius: 6px;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 8.714rem;
    min-width: 100%;
    z-index: 5; }
    .tms-select-box > ul::-webkit-scrollbar {
      width: 5px;
      height: 1px; }
    .tms-select-box > ul::-webkit-scrollbar-thumb {
      border-radius: 6px;
      -webkit-box-shadow: inset 0 0 5px var(--grayLine);
      background: var(--gray); }
    .tms-select-box > ul::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 5px var(--grayLine);
      border-radius: 2px;
      background: var(--greenTint); }
    .tms-select-box > ul li {
      font-size: 1rem;
      text-align: left;
      list-style: none;
      cursor: pointer;
      padding: 0.9286rem 1rem; }
      .tms-select-box > ul li:hover {
        background: #E9EBEF; }
      .tms-select-box > ul li input[type=button] {
        cursor: pointer;
        border: none;
        height: 100% !important;
        width: 100%;
        text-align: left;
        padding-left: 5px;
        background: none;
        display: block;
        outline: none; }
.tms-select-content {
  width: 100%;
  height: 32px;
  background: #FFFFFF;
  border-radius: 2px;
  display: flex;
  position: relative;
  flex-direction: row !important;
  flex-flow: wrap;
  align-items: normal !important; }
  .tms-select-content .down-arrow {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .tms-select-content .arrow_box {
    width: 20px;
    height: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4px;
    margin: auto;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .tms-select-content .tms-cross {
    width: 20px;
    height: 10px;
    position: absolute;
    top: 40%;
    bottom: 0;
    right: 26px;
    z-index: 999;
    cursor: pointer; }
  .tms-select-content .tms-cross:after, .tms-select-content .tms-cross:before {
    content: ' ';
    position: absolute;
    top: 50%;
    margin-top: -0.40em;
    left: 50%;
    margin-left: -0.06em;
    display: block;
    width: 0.09em;
    height: 0.75em;
    background: var(--gray); }
  .tms-select-content .tms-cross:after {
    -webkit-transform: rotate(-45deg); }
  .tms-select-content .tms-cross:before {
    -webkit-transform: rotate(45deg); }
  .tms-select-content input[type=text] {
    width: 100%;
    border: 1px solid var(--boderColor);
    box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
    padding-left: 1rem;
    padding-right: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    min-width: 20%;
    background: none;
    flex: 1;
    z-index: 2;
    cursor: pointer; }
    .tms-select-content input[type=text]:focus {
      border: 1px solid var(--green); }
  .tms-select-content input[error] {
    border: 1px solid var(--err); }
    .tms-select-content input[error] + .tms-errors {
      display: block; }
  .tms-select-content .select-content-ul {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    min-width: 100%;
    background: #FFFFFF;
    border: 1px solid var(--boderColor);
    border-radius: 2px;
    z-index: 99999999;
    max-height: 200px;
    overflow-y: auto; }
    .tms-select-content .select-content-ul::-webkit-scrollbar {
      width: 8px;
      height: 1px; }
    .tms-select-content .select-content-ul::-webkit-scrollbar-thumb {
      border-radius: 6px;
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background: var(--gray); }
    .tms-select-content .select-content-ul::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      background: #EDEDED; }
    .tms-select-content .select-content-ul li {
      min-width: 100%;
      min-height: 40px;
      height: 40px;
      padding-left: 22px;
      padding-right: 22px;
      cursor: pointer;
      white-space: nowrap;
      position: relative;
      display: flex;
      align-items: center; }
      .tms-select-content .select-content-ul li input[type=button] {
        border: none;
        height: 100% !important;
        width: 100%;
        padding-left: 22px;
        padding-right: 22px;
        text-align: left;
        background: none;
        display: block;
        outline: none;
        cursor: pointer; }
      .tms-select-content .select-content-ul li:hover {
        background: #D4E1EE; }
.tms-arrow-d {
  width: 20px;
  height: 16px;
  position: relative;
  z-index: 2; }
  .tms-arrow-d:after, .tms-arrow-d:before {
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    border-bottom: 8px transparent dashed;
    border-left: 8px transparent dashed;
    border-right: 8px transparent dashed;
    border-top: 8px white solid;
    overflow: hidden; }
  .tms-arrow-d:before {
    top: 2px;
    border-top: 8px #333 solid; }
  .tms-arrow-d:after {
    border-top: 8px #fff solid; }
.tms-radio, .tms-checkbox {
  position: absolute;
  display: none; }
  .tms-radio + label, .tms-checkbox + label {
    position: relative;
    display: block;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    vertical-align: middle; }
    .tms-radio + label:hover:before, .tms-checkbox + label:hover:before {
      animation-duration: 0.4s;
      animation-fill-mode: both;
      animation-name: hover-color; }
    .tms-radio + label:before, .tms-checkbox + label:before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 24px;
      box-sizing: border-box;
      height: 24px;
      content: '';
      border: 1px solid #989A9C; }
    .tms-radio + label:after, .tms-checkbox + label:after {
      position: absolute;
      display: none;
      content: ''; }
  .tms-radio[disabled], .tms-checkbox[disabled] {
    cursor: not-allowed; }
    .tms-radio[disabled] + label, .tms-checkbox[disabled] + label {
      cursor: not-allowed;
      color: #e4e4e4; }
      .tms-radio[disabled] + label:hover, .tms-radio[disabled] + label:before, .tms-radio[disabled] + label:after, .tms-checkbox[disabled] + label:hover, .tms-checkbox[disabled] + label:before, .tms-checkbox[disabled] + label:after {
        cursor: not-allowed; }
      .tms-radio[disabled] + label:hover:before, .tms-checkbox[disabled] + label:hover:before {
        border: 1px solid #e4e4e4;
        animation-name: none; }
      .tms-radio[disabled] + label:before, .tms-checkbox[disabled] + label:before {
        border-color: #e4e4e4; }
  .tms-radio:checked + label:before, .tms-checkbox:checked + label:before {
    animation-name: none; }
  .tms-radio:checked + label::after, .tms-checkbox:checked + label::after {
    display: block; }
.tms-radio + label:before {
  border-radius: 50%; }
.tms-radio + label:after {
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #777879; }
.tms-radio:checked + label:before {
  border: 1px solid #989A9C; }
.tms-radio:checked[disabled] + label:before {
  border: 1px solid #989A9C; }
.tms-checkbox + label:before {
  border-radius: 3px; }
.tms-checkbox + label:after {
  top: 4px;
  left: 9px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #777879;
  border-top: 0;
  border-left: 0; }
.tms-checkbox:checked + label:before {
  border: 1px solid #989A9C;
  background: inherit; }
.tms-checkbox:checked[disabled] + label:after {
  border-color: #d6d8da !important; }
.tms-checkbox:checked[disabled] + label:before {
  border: 1px solid #d6d8da !important;
  background: inherit !important; }
.tms-input {
  background: #FFFFFF;
  height: 32px;
  border: 1px solid var(--boderColor);
  box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
  border-radius: 2px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  color: #444545; }
  .tms-input:focus {
    outline: none; }
  .tms-input[disabled] {
    cursor: not-allowed;
    color: var(--disabled); }
    .tms-input[disabled] :after {
      cursor: not-allowed; }
  .tms-input::-webkit-input-placeholder {
    color: var(--disabled); }
  .tms-input:-moz-placeholder {
    color: var(--disabled); }
  .tms-input::-moz-placeholder {
    color: var(--disabled); }
  .tms-input:-ms-input-placeholder {
    color: var(--disabled); }
  .tms-input[error] {
    border: 1px solid var(--err); }
    .tms-input[error] + .tms-errors {
      display: block; }
.tms-button {
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  border: 1px solid #989A9C;
  font-size: 14px;
  min-width: 120px;
  text-align: center;
  color: var(--info);
  outline: 0;
  border-radius: 2px;
  font-weight: 600;
  letter-spacing: 0.021rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: inherit;
  box-sizing: border-box; }
  .tms-button:hover, .tms-button:focus {
    text-decoration: none;
    outline: 0; }
  .tms-button > .icon-box {
    margin-right: 0.857rem; }
  .tms-button.active {
    background-color: #519bed !important; }
  .tms-button[disabled] {
    cursor: not-allowed !important;
    color: var(--disabled) !important;
    border: 1px solid #c1c3c6 !important; }
.tms-primary {
  background: #7FA9B3;
  color: #ffffff; }
.tms-cont-block {
  border-radius: 4px;
  -moz-box-shadow: 0px 2px 10px rgba(44, 60, 89, 0.07);
  -moz-box-shadow: 0px 0.125rem 0.625rem rgba(44, 60, 89, 0.07);
  -webkit-box-shadow: 0px 2px 10px rgba(44, 60, 89, 0.07);
  -webkit-box-shadow: 0px 0.125rem 0.625rem rgba(44, 60, 89, 0.07);
  box-shadow: 0px 2px 10px rgba(44, 60, 89, 0.07);
  box-shadow: 0px 0.125rem 0.625rem rgba(44, 60, 89, 0.07);
  padding: 24px 21px;
  padding: 1.5rem 1.3125rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }
.tms-add {
  width: 12px;
  height: 12px;
  position: relative;
  margin-left: 12px;
  margin-right: 12px; }
  .tms-add:after, .tms-add:before {
    content: "";
    position: absolute;
    z-index: 5;
    background: var(--info); }
  .tms-add:before {
    left: 5px;
    top: 0;
    bottom: 0;
    width: 2px; }
  .tms-add:after {
    left: 0;
    top: 5px;
    right: 0;
    height: 2px; }
.tms-other-button {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #989A9C;
  box-sizing: border-box;
  border-radius: 2px;
  color: #549aaa;
  white-space: nowrap; }
.tms-hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
.tms-ul {
  padding: 0;
  margin: 0;
  border: 1px solid #C8D8E4;
  box-sizing: border-box;
  border-radius: 2px;
  height: 200px;
  height: 12.5rem;
  overflow-y: auto; }
  .tms-ul li {
    padding: 5px 15px;
    padding: 0.3125rem 0.9375rem;
    margin: 0;
    border-bottom: 1px solid #C8D8E4; }
.tms-tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  margin-top: 1.4375rem;
  list-style: none;
  border-bottom: 0.0625rem solid var(--disabled); }
  .tms-tabs div {
    flex: 1;
    text-align: center;
    cursor: pointer;
    height: 100%; }
  .tms-tabs > .active {
    border-bottom: 0.125rem solid var(--info);
    color: var(--info); }
.tms-q-s-block {
  background: #FFFFFF;
  box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
  border-radius: 2px;
  min-height: 78px;
  min-width: 275px;
  padding: 22px;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .tms-q-s-block img {
    padding-right: 22px;
    height: 46px;
    width: auto; }
.tms-functional {
  min-width: 120px;
  width: inherit;
  min-height: 32px;
  padding-right: 1rem;
  padding-left: 1rem;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between !important;
  border: 1px solid var(--boderColor);
  box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
  border-radius: 2px; }
  .tms-functional > i {
    font-size: 14px;
    color: #8E97A7; }
  .tms-functional > span {
    color: #8E97A7; }
  .tms-functional input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none; }
    .tms-functional input:focus {
      outline: none; }
    .tms-functional input[disabled] {
      cursor: not-allowed;
      color: var(--disabled); }
      .tms-functional input[disabled] :after {
        cursor: not-allowed; }
  .tms-functional .t-a-ri {
    text-align: right; }
.tms-errors {
  display: none;
  position: absolute;
  left: calc(100% + 1rem);
  top: calc(50% - 18px);
  bottom: 0;
  z-index: 99999;
  margin: auto; }
  .tms-errors .triangle-left {
    position: relative;
    width: 100%;
    padding: 5px 1rem;
    border-radius: 2px;
    background: var(--err);
    color: var(--red); }
    .tms-errors .triangle-left:before {
      position: absolute;
      top: calc(50% - 6px);
      left: -8px;
      bottom: 0;
      margin: 0;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid var(--err);
      content: ''; }
.tms-tooltips {
  position: relative; }
  .tms-tooltips > .warn {
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: 100;
    right: 1rem;
    top: 8px;
    background: none;
    border-color: inherit !important;
    border-style: solid;
    border-width: 2px;
    border-radius: 1rem; }
    .tms-tooltips > .warn:before {
      content: '?';
      position: absolute;
      top: -2px;
      left: 0px;
      color: inherit;
      text-align: center;
      line-height: 1rem;
      font-size: 12px;
      font-weight: bold;
      width: 12px;
      height: 12px; }
  .tms-tooltips > .totip {
    display: none;
    position: absolute;
    z-index: 10;
    min-height: 32px;
    height: auto;
    padding: 0.5em 1em;
    border-radius: 6px;
    line-height: 1.5;
    font-size: 12px; }
    .tms-tooltips > .totip:before {
      position: absolute;
      content: " ";
      border-width: 0.5rem;
      width: 0;
      height: 0;
      border-style: solid; }
  .tms-tooltips > .warn ~ .left {
    right: 0rem;
    min-width: 180px;
    top: calc(100%); }
    .tms-tooltips > .warn ~ .left:before {
      top: -14px;
      right: 16px;
      border-color: transparent transparent currentColor transparent; }
  .tms-tooltips > .warn:hover ~ .left {
    display: block; }
  .tms-tooltips > .warn ~ .right {
    left: calc(100%);
    min-width: 180px;
    top: 0; }
    .tms-tooltips > .warn ~ .right:before {
      top: 10px;
      left: -14px;
      border-color: transparent currentColor transparent transparent; }
  .tms-tooltips > .warn:hover ~ .right {
    display: block; }
.tms-bl-radio-box {
  position: relative; }
  .tms-bl-radio-box input[type=radio] {
    position: absolute;
    display: none; }
    .tms-bl-radio-box input[type=radio] + label {
      cursor: pointer;
      width: 119px;
      height: 40px;
      display: flex;
      padding: 0;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--gray); }
      .tms-bl-radio-box input[type=radio] + label:hover:before {
        animation-duration: 0.4s;
        animation-fill-mode: both;
        animation-name: hover-color; }
      .tms-bl-radio-box input[type=radio] + label:before {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        display: inline-block;
        width: 119px;
        box-sizing: border-box;
        height: 40px;
        content: ''; }
    .tms-bl-radio-box input[type=radio]:checked + label {
      border: 1px solid var(--info);
      color: var(--info); }
    .tms-bl-radio-box input[type=radio][disabled] + label {
      cursor: not-allowed;
      border: 1px solid var(--disabled);
      color: var(--disabled); }
.tms-datepicker-box {
  width: 100%;
  position: relative; }
  .tms-datepicker-box .img_box {
    position: absolute;
    top: 6px;
    height: 20px;
    right: 1rem;
    z-index: 1; }
  .tms-datepicker-box .datepicker {
    flex: 1; }
    .tms-datepicker-box .datepicker input[type=text] {
      width: 100%;
      height: 32px;
      background: #ffffff;
      border: 1px solid var(--boderColor);
      box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
      border-radius: 2px;
      padding-left: 1rem;
      padding-right: 1rem;
      outline: none; }
      .tms-datepicker-box .datepicker input[type=text]:focus {
        outline: none; }

/*# sourceMappingURL=tms-css.css.map */
