.unis-dates {
  background: #FFFFFF;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  min-height: 2.286rem;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.143rem;
  position: relative; }
  .unis-dates i {
    font-size: 1.143rem;
    margin-right: 1.143rem; }
  .unis-dates > .date-filter {
    position: absolute;
    top: calc(100% + 0.571rem);
    left: 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1.214rem 1.214rem;
    background: #FFFFFF;
    box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
    border-radius: 6px; }
    .unis-dates > .date-filter .date-range {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      white-space: nowrap; }
      .unis-dates > .date-filter .date-range button {
        max-width: 250px;
        background: #FFFFFF;
        border: 1px solid #D3D8DE;
        box-sizing: border-box;
        border-radius: 0.857rem;
        margin-left: 1.143rem; }
        .unis-dates > .date-filter .date-range button::after {
          bottom: 0.2rem; }
        .unis-dates > .date-filter .date-range button input {
          border-radius: 0.857rem;
          padding: 0.24rem 28px 0.24rem 1rem !important;
          min-height: 24px; }
        .unis-dates > .date-filter .date-range button .disblock {
          display: block;
          height: auto;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          border-top: dashed 1px #D3D8DE; }
          .unis-dates > .date-filter .date-range button .disblock li {
            padding: 0.9286rem 1rem;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s; }
        .unis-dates > .date-filter .date-range button ul {
          display: none;
          height: 0;
          z-index: 100;
          border-top: none; }
          .unis-dates > .date-filter .date-range button ul li {
            padding: 0; }
    .unis-dates > .date-filter .operating-box {
      display: inline-flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
      .unis-dates > .date-filter .operating-box .arrow {
        display: inline-block;
        position: relative;
        font-size: inherit;
        width: 0.6em; }
        .unis-dates > .date-filter .operating-box .arrow::after {
          display: inline-block;
          content: " ";
          height: 0.6em;
          width: 0.6em;
          border-width: 0 1px 1px 0;
          border-color: currentcolor;
          border-style: solid;
          -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
          transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
          -webkit-transform-origin: center;
          transform-origin: center;
          transition: -webkit-transform .3s;
          transition: transform .3s, -webkit-transform .3s;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -0.375em;
          margin-left: -0.375em; }
    .unis-dates > .date-filter .date-box {
      display: inline-flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-flow: nowrap; }
      .unis-dates > .date-filter .date-box .date-view {
        padding: 1.143rem;
        width: 22.286rem;
        height: auto;
        display: inline-flex;
        justify-content: flex-start;
        flex-flow: wrap; }
        .unis-dates > .date-filter .date-box .date-view .operating-box {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          width: 22.286rem;
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          text-align: center;
          letter-spacing: 0.4px;
          color: #2C3C59; }
          .unis-dates > .date-filter .date-box .date-view .operating-box .arrow-box {
            display: inline-block;
            position: relative;
            font-size: 1.143rem;
            width: 1.143rem;
            height: 1.143rem;
            background: #D5E9FA;
            border-radius: 1.143rem;
            cursor: pointer; }
            .unis-dates > .date-filter .date-box .date-view .operating-box .arrow-box::after {
              display: inline-block;
              content: " ";
              height: 8px;
              width: 8px;
              border-width: 0 2px 2px 0;
              border-color: #677388;
              border-style: solid;
              -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
              transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
              -webkit-transform-origin: center;
              transform-origin: center;
              transition: -webkit-transform .3s;
              transition: transform .3s, -webkit-transform .3s;
              position: absolute;
              top: 50%;
              left: 50%;
              margin-top: -0.28em;
              margin-left: -0.28em; }
            .unis-dates > .date-filter .date-box .date-view .operating-box .arrow-box::before {
              position: absolute;
              content: " ";
              top: 50%;
              left: 50%;
              height: 2px;
              width: 0.60em;
              background: #677388;
              margin-top: -1px; }
            .unis-dates > .date-filter .date-box .date-view .operating-box .arrow-box.right::after {
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
              transition: -webkit-transform 0.3s;
              transition: transform 0.3s, -webkit-transform 0.3s; }
            .unis-dates > .date-filter .date-box .date-view .operating-box .arrow-box.right::before {
              margin-left: -0.3885em; }
            .unis-dates > .date-filter .date-box .date-view .operating-box .arrow-box.left::after {
              -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
              transition: -webkit-transform 0.3s;
              transition: transform 0.3s, -webkit-transform 0.3s; }
            .unis-dates > .date-filter .date-box .date-view .operating-box .arrow-box.left::before {
              margin-left: -0.2em; }
        .unis-dates > .date-filter .date-box .date-view .dates {
          width: 2.857rem;
          height: 1.714rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 0.571rem;
          text-align: center;
          cursor: pointer;
          color: #C8CDD5;
          position: relative;
          z-index: 1; }
          .unis-dates > .date-filter .date-box .date-view .dates > span {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            text-align: center;
            line-height: 1.714rem; }
        .unis-dates > .date-filter .date-box .date-view .weeks {
          color: #677388;
          font-weight: 600;
          line-height: 16px;
          text-align: center;
          letter-spacing: 0.4px;
          cursor: default; }
        .unis-dates > .date-filter .date-box .date-view .day {
          color: #2C3C59; }
        .unis-dates > .date-filter .date-box .date-view .scope {
          color: #56A7FD; }
        .unis-dates > .date-filter .date-box .date-view .scope:before {
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 0;
          background: #D5E9FA; }
        .unis-dates > .date-filter .date-box .date-view .asingle:after {
          content: ' ';
          height: 1.714rem;
          width: 1.714rem;
          position: absolute;
          top: 0;
          left: 50%;
          bottom: 0;
          margin-left: -0.857rem;
          border-radius: 100%;
          border: 1px solid #56A7FD; }
        .unis-dates > .date-filter .date-box .date-view .pitch-on {
          font-weight: 500;
          color: #FFFFFF !important; }
        .unis-dates > .date-filter .date-box .date-view .pitch-out {
          font-weight: 500;
          color: #FFFFFF !important; }
        .unis-dates > .date-filter .date-box .date-view .pitch-on:after, .unis-dates > .date-filter .date-box .date-view .pitch-out:after {
          content: ' ';
          height: 1.714rem;
          width: 1.714rem;
          position: absolute;
          top: 0;
          z-index: 0;
          background: #56A7FD;
          left: 50%;
          bottom: 0;
          margin-left: -0.82rem;
          border-radius: 100%;
          border: 1px solid #56A7FD; }
        .unis-dates > .date-filter .date-box .date-view .pitch-on:before {
          left: 50% !important; }
        .unis-dates > .date-filter .date-box .date-view .pitch-out:before {
          right: 50% !important; }
    .unis-dates > .date-filter .operation-box {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      align-content: flex-end;
      text-align: right;
      width: 100%;
      margin-top: 1.5rem; }
      .unis-dates > .date-filter .operation-box .btn {
        background: none;
        display: inline-block;
        color: #56A7FD;
        border: none;
        cursor: pointer;
        outline: 0; }
        .unis-dates > .date-filter .operation-box .btn:focus {
          background: none;
          color: #56A7FD;
          border: none;
          outline: 0; }
      .unis-dates > .date-filter .operation-box .apply {
        background: #56A7FD;
        border-radius: 4px;
        padding-left: 2.857rem;
        padding-right: 2.857rem;
        margin-left: 1rem;
        color: #FFFFFF; }

/*# sourceMappingURL=calendars.css.map */
