.un-ex-sm {
  padding-left: 10px !important;
  padding-right: 10px !important;
  line-height: 24px !important;
  height: 24px !important; }
.un-sm {
  line-height: 32px !important;
  height: 32px !important; }
.un-lag {
  width: 100% !important; }
.un-btn {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  height: 42px;
  line-height: 40px;
  text-align: center;
  outline: 0;
  border: none;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: inherit;
  border-radius: 0.25rem; }
  .un-btn:hover, .un-btn:focus {
    text-decoration: none;
    outline: 0; }
  .un-btn > .left {
    font-size: 18px;
    display: inline-block;
    margin-left: -15px;
    height: 100%;
    align-self: center; }
    .un-btn > .left > span:nth-of-type(1) {
      padding: 8px 8px 8px 8px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 2px; }
    .un-btn > .left > i {
      padding: 8px 8px 8px 8px;
      background: #E9EBEF;
      display: inline-block;
      vertical-align: middle;
      border-radius: 0.2rem; }
      .un-btn > .left > i:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      .un-btn > .left > i:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
  .un-btn-primary {
    background: #56A7FD;
    color: #ffffff;
    border-radius: 4px; }
    .un-btn-primary:hover {
      background-color: #529ced; }
    .un-btn-primary:focus {
      background-color: #519bed; }
    .un-btn-primary.disabled, .un-btn-primary:disabled {
      color: #afb6c1;
      background-color: #eff0f4;
      cursor: default !important; }
  .un-btn-secondary {
    background: #D5E9FA;
    color: #56A7FD;
    border-radius: 4px; }
    .un-btn-secondary:hover {
      background-color: #c4d8ea; }
    .un-btn-secondary:focus {
      background-color: #c4d8ea; }
    .un-btn-secondary.disabled, .un-btn-secondary:disabled {
      color: #afb6c1;
      background-color: #eff0f4;
      cursor: default !important; }
  .un-btn-tertiary {
    background: none;
    color: #959dac; }
    .un-btn-tertiary:hover {
      background: none;
      color: #56a7fd; }
    .un-btn-tertiary:focus {
      background: none;
      color: #56a7fd; }
    .un-btn-tertiary.disabled, .un-btn-tertiary:disabled {
      color: #afb6c1;
      background: none;
      cursor: default !important; }
  .un-btn-ghost {
    background: none;
    color: #959dac;
    position: relative; }
    .un-btn-ghost::after {
      content: '';
      position: absolute;
      top: 100%;
      height: 3px;
      background: #56a7fd;
      left: 0;
      right: 0;
      transform: scaleX(0);
      border-radius: 4px;
      transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    .un-btn-ghost:hover {
      background: none;
      color: #56a7fd; }
    .un-btn-ghost:hover::after {
      transform: scaleX(1);
      transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    .un-btn-ghost:focus {
      background: none;
      color: #56a7fd; }
    .un-btn-ghost:focus::after {
      transform: scaleX(1);
      transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    .un-btn-ghost.disabled, .un-btn-ghost:disabled {
      color: #afb6c1;
      background: none;
      cursor: default !important; }
    .un-btn-ghost:disabled:hover::after {
      background: none;
      transform: scaleX(0); }
  .un-btn-split {
    background: #56A7FD;
    color: #ffffff;
    position: relative;
    padding-right: 45px; }
    .un-btn-split::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 32px;
      background: inherit;
      border-radius: 0 4px 4px 0;
      transition: background 0.5s; }
    .un-btn-split::after {
      content: '';
      position: absolute;
      top: 16px;
      right: 10px;
      border-width: 6px;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: currentcolor transparent transparent transparent; }
    .un-btn-split:hover {
      background: #56A7FD;
      color: #ffffff; }
    .un-btn-split:hover::before {
      background: #529ced;
      ition: background 0.5s; }
    .un-btn-split:focus {
      background: #56A7FD;
      color: #ffffff; }
    .un-btn-split:focus::before {
      background: #529ced;
      ition: background 0.5s; }
    .un-btn-split.disabled, .un-btn-split:disabled {
      color: #8E97A7;
      background: #E9EBEF;
      cursor: default !important; }
    .un-btn-split[disabled]:hover::before {
      background: none;
      transform: scaleX(0); }
    .un-btn-split[disabled] > ul {
      display: none; }
    .un-btn-split ul {
      position: absolute;
      top: calc(100% + 4px);
      min-width: 210px;
      padding: 4px 0;
      right: 0;
      color: #505C73;
      background: #FFFFFF;
      box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
      border-radius: 6px;
      list-style: none;
      text-decoration: none; }
      .un-btn-split ul li {
        font-size: 13px;
        text-align: left;
        list-style: none;
        padding-left: 25px;
        padding-right: 10px; }
        .un-btn-split ul li:hover {
          background: #E9EBEF; }
  .un-btn-withIcons {
    background: #FFFFFF;
    box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
    border-radius: 6px;
    position: relative;
    font-size: 18px;
    color: #7C8797; }

/*# sourceMappingURL=components.css.map */
