.unis- {
  /*arrows*/ }
  .unis-cross {
    width: 1em;
    height: 1em;
    display: inline-block;
    position: relative; }
    .unis-cross:after, .unis-cross:before {
      content: ' ';
      position: absolute;
      top: 50%;
      margin-top: -0.40em;
      left: 50%;
      margin-left: -0.06em;
      display: block;
      width: 0.09em;
      height: 0.75em;
      background: currentcolor; }
    .unis-cross:after {
      -webkit-transform: rotate(-45deg); }
    .unis-cross:before {
      -webkit-transform: rotate(45deg); }
  .unis-nabla {
    position: relative;
    width: 1em;
    height: 1em;
    display: inline-block; }
    .unis-nabla::after {
      position: absolute;
      top: 0.500em;
      left: 0;
      content: " ";
      border-width: 0.375em;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: currentcolor transparent transparent transparent; }
  .unis-nabla-right {
    position: relative;
    width: 1em;
    height: 1em;
    display: inherit; }
    .unis-nabla-right::after {
      position: absolute;
      top: 0.500em;
      left: 0;
      content: " ";
      border-width: 0.375em;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: currentcolor transparent transparent transparent;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
  .unis-arrow {
    display: inline-block;
    position: relative;
    font-size: inherit;
    width: 0.6em; }
    .unis-arrow::after {
      display: inline-block;
      content: " ";
      height: 0.6em;
      width: 0.6em;
      border-width: 0 1px 1px 0;
      border-color: currentcolor;
      border-style: solid;
      -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      -webkit-transform-origin: center;
      transform-origin: center;
      transition: -webkit-transform .3s;
      transition: transform .3s, -webkit-transform .3s;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -0.375em;
      margin-left: -0.375em; }
    .unis-arrow.up::after {
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .unis-arrow.right::after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .unis-arrow.left::after {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
  .unis-tick {
    display: inline-block;
    width: 0.375em;
    height: 0.125em;
    background: currentcolor;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    -webkit-transform: rotate(45deg); }
    .unis-tick:after {
      content: '';
      display: block;
      width: 0.77em;
      height: 0.125em;
      background: inherit;
      -webkit-transform: rotate(-90deg) translateY(-50%) translateX(50%); }

/*# sourceMappingURL=icons.css.map */
