:root {
  --primary: rgba(43, 59, 87, 1);
  --blue: #007bff;
  --white: #FFFFFF;
  --gray: #8E97A7; }

.blue {
  color: var(--blue); }

.white {
  color: var(--white); }

.gray {
  color: var(--gray); }

.gray-bg {
  background: rgba(0, 0, 0, 0.05) !important; }

.border-1 {
  border: 1px solid #E9EBEF; }

.white-bg {
  background: var(--white) !important; }

.accents {
  color: #56A7FD !important; }

.accents-50 {
  color: #D5E9FA !important; }

.accents-bg {
  background: #56A7FD !important; }

.accents-bg-50 {
  background: #D5E9FA !important; }

.primary {
  color: #2C3C59 !important; }
.primary-70 {
  color: #677388 !important; }
.primary-50 {
  color: #8E97A7 !important; }
.primary-bg {
  background: #2C3C59 !important; }
.primary-bg-50 {
  background: #8E97A7 !important; }
.primary-bg-70 {
  background: #677388 !important; }

.success {
  color: #3BCD99 !important; }
.success-70 {
  color: #71D8B4 !important; }
.success-50 {
  color: #3BCD99 !important; }
.success-bg {
  background: #3BCD99 !important; }
.success-bg-50 {
  background: #3BCD99 !important; }
.success-bg-70 {
  background: #71D8B4 !important; }

.error {
  color: #ED5158 !important; }
.error-70 {
  color: #EE8187 !important; }
.error-50 {
  color: #EFA2A7 !important; }
.error-bg {
  background: #ED5158 !important; }
.error-bg-50 {
  background: #EFA2A7 !important; }
.error-bg-70 {
  background: #EE8187 !important; }

.warning {
  color: #FFD36A !important; }
.warning-70 {
  color: #FADC93 !important; }
.warning-50 {
  color: #F8E3B0 !important; }
.warning-bg {
  background: #FFD36A !important; }
.warning-bg-50 {
  background: #F8E3B0 !important; }
.warning-bg-70 {
  background: #FADC93 !important; }

.neutrals {
  color: #C8CDD5 !important; }
.neutrals-70 {
  color: #D3D8DE !important; }
.neutrals-50 {
  color: #E9EBEF !important; }
.neutrals-bg {
  background: #C8CDD5 !important; }
.neutrals-bg-50 {
  background: #E9EBEF !important; }
.neutrals-bg-70 {
  background: #D3D8DE !important; }

.def-bg {
  background: #FCFDFF !important; }

.tints-bg {
  background: rgba(44, 60, 89, 0.1) !important; }

.shadows {
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 7px 20px rgba(44, 60, 89, 0.1);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center; }

@font-face {
  font-family: "fontawesome-webfont";
  src: url("./fonts/fontawesome-webfont.eot");
  src: url("./fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/fontawesome-webfont.woff") format("woff"), url("./fonts/fontawesome-webfont.ttf") format("truetype"), url("./fonts/fontawesome-webfont.svg?#fontawesome-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "AvenirNext-Regular";
  src: url("./fonts/Avenir/AvenirNext-Regular.otf") format("opentype"), url("./fonts/Avenir/AvenirNext-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "AvenirNext-Bold";
  src: url("./fonts/Avenir/AvenirNext-Bold.otf") format("opentype"), url("./fonts/Avenir/AvenirNext-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "AvenirNext-Medium";
  src: url("./fonts/Avenir/AvenirNext-Medium.otf") format("opentype"), url("./fonts/Avenir/AvenirNext-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "AvenirNext-DemiBold";
  src: url("./fonts/Avenir/AvenirNext-DemiBold.otf") format("opentype"), url("./fonts/Avenir/AvenirNext-DemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("./fonts/ProximaNova/ProximaNova-Regular.otf") format("opentype"), url("./fonts/ProximaNova/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html,
body {
  font-family: 'AvenirNext-Regular' !important;
  font-size: 14px !important;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 4px !important; }

h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  font-size: 32px;
  letter-spacing: 0.4px;
  font-family: Avenir Next; }

h2 {
  font-weight: 600;
  line-height: 32px;
  font-size: 24px;
  letter-spacing: 0.4px;
  font-family: Avenir Next; }

h3 {
  font-weight: 600;
  line-height: 24px;
  font-size: 18px;
  letter-spacing: 0.3px;
  font-family: Avenir Next; }

h4 {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px; }

h5 {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.3px; }

h6 {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  font-size: 13px;
  letter-spacing: 0.4px; }

.bod-t1 {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 13px;
  letter-spacing: 0.3px; }

.bod-t2 {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 13px;
  letter-spacing: 0.3px; }

.but-t1 {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  font-size: 14px;
  letter-spacing: 0.3px; }

.but-t2 {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0.4px; }

input, button, select, optgroup, textarea {
  /* margin: 0; */
  font-family: inherit;
  font-size: inherit;
  /* line-height: inherit; */ }

.sm-t {
  font-size: 12px;
  transform: scale(0.8);
  transform-origin: 0 0;
  -ms-transform: scale(0.8);
  -ms-transform-origin: 0 0;
  -webkit-transform: scale(0.8);
  -webkit-transform-origin: 0 0;
  -moz-transform: scale(0.8);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.8);
  -o-transform-origin: 0 0;
  padding: 3px !important;
  font-family: 'AvenirNext-Regular' !important; }

.bo-l-r {
  border-right: 1px currentcolor solid;
  border-left: 1px currentcolor solid; }

.bo-all {
  border: 1px currentcolor solid; }

.bo-no {
  border: none !important; }

.bo-l-r-b {
  border-bottom: 1px currentcolor solid;
  border-right: 1px currentcolor solid;
  border-left: 1px currentcolor solid; }

.margin-r {
  float: right !important; }

.section {
  padding: 0.643rem 1.9rem !important; }

/*# sourceMappingURL=typography.css.map */
