@import "./mixins";

.un- {
  &ex-sm {
    padding-left: 10px !important;
    padding-right: 10px !important;
    line-height: 24px !important;
    height: 24px!important;
  }
  &sm {
    line-height: 32px !important;
    height: 32px!important;
  }
  &lag {
    width: 100%!important;
  }
  &btn {
    padding-left: 25px;
    padding-right: 25px;
    @include flexCenter(center);
    cursor: pointer;
    height: 42px;
    line-height: 40px;
    text-align: center;
    outline: 0;
    border: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: inherit;
    border-radius: 0.25rem;
    &:hover, &:focus {
      text-decoration: none;
      outline: 0;
    }
    & > .left {
      font-size: 18px;
      display: inline-block;
      margin-left: -15px;
      height: 100%;
      align-self: center;
      & > span:nth-of-type(1) {
        padding: 8px 8px 8px 8px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 2px;
      }

      & > i {
        padding: 8px 8px 8px 8px;
        background: #E9EBEF;
        display: inline-block;
        vertical-align: middle;
        border-radius: 0.2rem;
        &:not(:last-child) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:not(:first-child) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
    &- {
      &primary {
        background: #56A7FD;
        color: #ffffff;
        border-radius: 4px;

        &:hover {
          background-color: #529ced;
        }

        &:focus {
          background-color: #519bed;
        }

        &.disabled, &:disabled {
          color: #afb6c1;
          background-color: #eff0f4;
          cursor: default !important;
        }
      }
      &secondary {
        background: #D5E9FA;
        color: #56A7FD;
        border-radius: 4px;

        &:hover {
          background-color: #c4d8ea;
        }

        &:focus {
          background-color: #c4d8ea;
        }

        &.disabled, &:disabled {
          color: #afb6c1;
          background-color: #eff0f4;
          cursor: default !important;
        }
      }
      &tertiary {
        background: none;
        color: #959dac;

        &:hover {
          background: none;
          color: #56a7fd;
        }

        &:focus {
          background: none;
          color: #56a7fd;
        }

        &.disabled, &:disabled {
          color: #afb6c1;
          background: none;
          cursor: default !important;
        }
      }
      &ghost {
        background: none;
        color: #959dac;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 100%;
          height: 3px;
          background: #56a7fd;
          left: 0;
          right: 0;
          transform: scaleX(0);
          border-radius: 4px;
          transition: transform .45s cubic-bezier(0.23, 1, 0.32, 1);

        }
        &:hover {
          background: none;
          color: #56a7fd;
        }
        &:hover::after {
          transform: scaleX(1);
          transition: transform .45s cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:focus {
          background: none;
          color: #56a7fd;
        }
        &:focus::after {
          transform: scaleX(1);
          transition: transform .45s cubic-bezier(0.23, 1, 0.32, 1);
        }
        &.disabled, &:disabled {
          color: #afb6c1;
          background: none;
          cursor: default !important;
        }
        &:disabled:hover::after {
          background: none;
          transform: scaleX(0);
        }
      }
      &split {
        background: #56A7FD;;
        color: #ffffff;
        position: relative;
        padding-right: 45px;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 32px;
          background: inherit;
          border-radius: 0 4px 4px 0;
          transition: background 0.5s;
        }
        &::after {
          content: '';
          position: absolute;
          top: 16px;
          right: 10px;
          border-width: 6px;
          width: 0;
          height: 0;
          border-style: solid;
          border-color: currentcolor transparent transparent transparent;
        }
        &:hover {
          background: #56A7FD;;
          color: #ffffff;
        }
        &:hover::before {
          background: #529ced;
          ition: background 0.5s;
        }
        &:focus {
          background: #56A7FD;;
          color: #ffffff;
        }
        &:focus::before {
          background: #529ced;
          ition: background 0.5s;
        }
        &.disabled, &:disabled {
          color: #8E97A7;
          background: #E9EBEF;
          cursor: default !important;
        }
        &[disabled]:hover::before {
          background: none;
          transform: scaleX(0);
        }
        &[disabled] > ul {
          display: none;
        }
        ul {
          position: absolute;
          top: calc(100% + 4px);
          min-width: 210px;
          padding: 4px 0;
          right: 0;
          color: #505C73;
          background: #FFFFFF;
          box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
          border-radius: 6px;
          list-style: none;
          text-decoration: none;
          li {
            font-size: 13px;
            text-align: left;
            list-style: none;
            padding-left: 25px;
            padding-right: 10px;
            &:hover {
              background: #E9EBEF;
            }
          }
        }
      }
      &withIcons {
        background: #FFFFFF;
        box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
        border-radius: 6px;
        position: relative;
        font-size: 18px;
        color: #7C8797;

      }
    }
  }
}