@import "./mixins";

.unis- {
  line-height: 1;
  &ex-sm {
    padding: 0.25rem 1rem !important;
    height: auto;
    min-width: 60px !important;
  }
  &sm {
    padding: 0.5rem 1.9rem !important;
    height: auto;
  }
  &btn-icons {
    padding: 0.25rem 0.5rem !important;
    height: auto;
    width: auto;
    box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
    border-radius: 6px;
    position: relative;
    font-size: 18px;
    @include flexCenter(center);
    cursor: pointer;
    text-align: center;
    outline: 0;
    border: none;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: inherit;
    box-sizing: border-box;
    &:hover, &:focus {
      text-decoration: none;
      outline: 0;
    }
  }
  &lag {
    width: 100% !important;
  }
  &btn {
    padding: 0.75rem 1.9rem;
    @include flexCenter(center);
    cursor: pointer;
    min-width: 120px;
    text-align: center;
    outline: 0;
    border: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: inherit;
    box-sizing: border-box;
    border-radius: 0.25rem;
    &:hover, &:focus {
      text-decoration: none;
      outline: 0;
    }
    & > .icon-box {
      margin-right: 1rem;
    }
    &- {
      &primary {
        background: #56A7FD;
        color: #ffffff;
        border-radius: 4px;

        &:hover {
          background-color: #529ced;
        }

        &:focus {
          background-color: #519bed;
        }

        &.disabled, &:disabled {
          color: #afb6c1;
          background-color: #eff0f4;
          cursor: default !important;
        }
      }
      &secondary {
        background: #D5E9FA;
        color: #56A7FD;
        border-radius: 4px;

        &:hover {
          background-color: #c4d8ea;
        }

        &:focus {
          background-color: #c4d8ea;
        }

        &.disabled, &:disabled {
          color: #afb6c1;
          background-color: #eff0f4;
          cursor: default !important;
        }
      }
      &tertiary {
        background: none;
        color: #959dac;

        &:hover {
          background: none;
          color: #56a7fd;
        }

        &:focus {
          background: none;
          color: #56a7fd;
        }

        &.disabled, &:disabled {
          color: #afb6c1;
          background: none;
          cursor: default !important;
        }
      }
      &ghost {
        background: none;
        color: #959dac;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 100%;
          height: 3px;
          background: #56a7fd;
          left: 0;
          right: 0;
          transform: scaleX(0);
          border-radius: 4px;
          transition: transform .45s cubic-bezier(0.23, 1, 0.32, 1);

        }
        &:hover {
          background: none;
          color: #56a7fd;
        }
        &:hover::after {
          transform: scaleX(1);
          transition: transform .45s cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:focus {
          background: none;
          color: #56a7fd;
        }
        &:focus::after {
          transform: scaleX(1);
          transition: transform .45s cubic-bezier(0.23, 1, 0.32, 1);
        }
        &.disabled, &:disabled {
          color: #afb6c1;
          background: none;
          cursor: default !important;
        }
        &:disabled:hover::after {
          background: none;
          transform: scaleX(0);
        }
      }
      &split {
        background: #56A7FD;;
        color: #ffffff;
        position: relative;
        padding-right: 45px;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 32px;
          background: inherit;
          border-radius: 0 4px 4px 0;
          transition: background 0.5s;
        }
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -3px;
          right: 10px;
          border-width: 6px;
          width: 0;
          height: 0;
          border-style: solid;
          border-color: currentcolor transparent transparent transparent;
        }
        &:hover {
          background: #56A7FD;;
          color: #ffffff;
        }
        &:hover::before {
          background: #529ced;
          ition: background 0.5s;
        }
        &:focus {
          background: #56A7FD;;
          color: #ffffff;
        }
        &:focus::before {
          background: #529ced;
          ition: background 0.5s;
        }
        &.disabled, &:disabled {
          color: #8E97A7;
          background: #E9EBEF;
          cursor: default !important;
        }
        &[disabled]:hover::before {
          background: none;
          transform: scaleX(0);
        }
        &[disabled] > ul {
          display: none;
        }
        ul {
          position: absolute;
          top: calc(100% + 4px);
          min-width: 210px;
          padding: 4px 0;
          right: 0;
          color: #505C73;
          background: #FFFFFF;
          box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
          border-radius: 6px;
          list-style: none;
          text-decoration: none;
          li {
            font-size: 14px;
            text-align: left;
            list-style: none;
            padding: 0.5rem 2.7rem;
            &:hover {
              background: #E9EBEF;
            }
          }
        }
      }
    }
  }
  &put {
    padding: 0.42rem 1rem;
    background: #FFFFFF;
    font-size: 14px;
    min-height: 32px;
    border: 1px solid #ffffff;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    display: block;
    color: #2C3C59;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
    border-radius: 6px;
    transition: all 0.4s;
    &::-webkit-input-placeholder {
      color: #D3D8DE;
    }
    &:-moz-placeholder {
      color: #D3D8DE;
    }
    &::-moz-placeholder {
      color: #D3D8DE;
    }
    &:-ms-input-placeholder {
      color: #D3D8DE;
    }
    &:focus {
      border: 1px solid #56A7FD;
      transition: all 0.4s;
      box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
    }
    &.display {
      background: none !important;
      padding-left: 0 !important;
      border: none !important;
      box-shadow: none !important;
    }
    &.display:focus {
      background: none !important;
      border: none !important;
      box-shadow: none !important;
    }
    &[disabled] {
      background: #EDEDED !important;
      border: none !important;
      box-shadow: none !important;
    }
    &[disabled]:focus {
      background: #EDEDED !important;
      border: none !important;
      box-shadow: none !important;
    }
  }
  &agt {
    position: relative;
    height: auto;
    width: auto;
    & > div:first-child {
      position: absolute;
      width: 100%;
      left: 0;
      display: block;
      padding-left: 1rem;
      buttom: -2px;
      color: #505C73;
    }
    & > .al-r {
      text-align: right;
    }
    & > input {

    }
  }
  &agt.error {
    & > div:first-child {
      color: #ED5158;
    }
    & > input {
      border: 1px solid #EFA2A7;
      box-sizing: border-box;
      box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);

    }
    & > .warn {
      position: absolute;
      width: 1rem;
      height: 1rem;
      right: 1rem;
      top: 8px;
      background: #ED5158;
      border-radius: 1rem;
      &:before {
        content: '!';
        position: absolute;
        color: #ffffff;
        text-align: center;
        line-height: 1rem;
        font-size: 12px;
        width: 1rem;
        height: 1rem;
      }
    }
  }
  &agt.warning {
    & > div:first-child {
      color: #FFD36A;
    }
    & > input {
      border: 1px solid #FFD36A;
      box-sizing: border-box;
      box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);

    }
    & > .warn {
      position: absolute;
      width: 1rem;
      height: 1rem;
      right: 1rem;
      top: 8px;
      background: #FFD36A;
      border-radius: 1rem;
      &:before {
        content: '!';
        position: absolute;
        color: #ffffff;
        text-align: center;
        line-height: 1rem;
        font-size: 12px;
        width: 1rem;
        height: 1rem;
      }
    }
  }
  &agt.uins-tooltips {
    & > .totip {
      display: none;
      position: absolute;
      z-index: 10;
      min-height: 32px;
      height: auto;
      background: #D5E9FA;
      padding: 0.5em 1em;
      border-radius: 6px;
      line-height: 1.5;
      font-size: 12px;
      color: #56A7FD;
      &:before {
        position: absolute;
        content: " ";
        border-width: 0.5rem;
        width: 0;
        height: 0;
        border-style: solid;
      }
    }
    & > .warn ~ .left {
      right: 0rem;
      width: auto;
      max-width: 70%;
      top: calc(100% + 5px);
      &:before {
        top: -16px;
        right: 16px;
        border-color: transparent transparent #D5E9FA transparent;
      }

    }
    & > .warn:hover ~ .left {
      display: block;
    }
    & > .warn ~ .right {
      left: calc(100% + -5px);
      width: 180px;
      top: 0;
      &:before {
        top: 10px;
        left: -16px;
        border-color: transparent #D5E9FA transparent  transparent;
      }

    }
    & > .warn:hover ~ .right {
      display: block;
    }

    & > .warn {
      position: absolute;
      width: 1rem;
      height: 1rem;
      z-index: 100;
      right: 1rem;
      top: 8px;
      background: #56A7FD;
      border-radius: 1rem;
      &:before {
        content: '?';
        position: absolute;
        color: #ffffff;
        text-align: center;
        line-height: 1rem;
        font-size: 12px;
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.icon-box {
  font-size: 18px;
  display: inline-block;
  align-self: center;
  & > span:nth-of-type(1) {
    padding: 0.4em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
  }

  & > i {
    padding: 0.4em;
    background: #E9EBEF;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0.2rem;
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}