// Fonts
// @include font-face(ProximaNova, './fonts/ProximaNova/ProximaNova-Regular');
// @include font-face(AvenirNext-Medium, './fonts/Avenir/AvenirNext-Medium');
// @include font-face(AvenirNext-Regular, './fonts/Avenir/AvenirNext-Regular');
// @include font-face(AvenirNext-Bold, './fonts/Avenir/AvenirNext-Bold');
// @include font-face(AvenirNext-DemiBold, './fonts/Avenir/AvenirNext-DemiBold');
@import "./colors.scss";
$font-path: './fonts';
$font-name: 'fontawesome-webfont';
$main_font_family: 'AvenirNext-Regular';
$font-ave-bold: 'AvenirNext-Bold';
$font-ave-medium: 'AvenirNext-Medium';
$font-ave-demibold: 'AvenirNext-DemiBold';
$proxima-nova-font: 'ProximaNova-Regular';

$fallback-src: url("#{$font-path}/#{$font-name}.eot");
$src: url("#{$font-path}/#{$font-name}.eot?#iefix") format('embedded-opentype'),
url("#{$font-path}/#{$font-name}.woff") format('woff'),
url("#{$font-path}/#{$font-name}.ttf") format('truetype'),
url("#{$font-path}/#{$font-name}.svg?##{$font-name}") format('svg');

$ave-src: url("#{$font-path}/Avenir/#{$main_font_family}.otf") format('opentype'),
url("#{$font-path}/Avenir/#{$main_font_family}.woff") format('woff'),;

$ave-src-bold: url("#{$font-path}/Avenir/#{$font-ave-bold}.otf") format('opentype'),
url("#{$font-path}/Avenir/#{$font-ave-bold}.woff") format('woff'),;
$ave-src-medium: url("#{$font-path}/Avenir/#{$font-ave-medium}.otf") format('opentype'),
url("#{$font-path}/Avenir/#{$font-ave-medium}.woff") format('woff'),;
$ave-src-demibold: url("#{$font-path}/Avenir/#{$font-ave-demibold}.otf") format('opentype'),
url("#{$font-path}/Avenir/#{$font-ave-demibold}.woff") format('woff'),;
$pro-src: url("#{$font-path}/ProximaNova/#{$proxima-nova-font}.otf") format('opentype'),
url("#{$font-path}/ProximaNova/#{$proxima-nova-font}.woff") format('woff'),;

@font-face {
  font-family: $font-name;
  src: $fallback-src;
  src: $src;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $main_font_family;
  src: $ave-src;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-ave-bold;
  src: $ave-src-bold;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-ave-medium;
  src: $ave-src-medium;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-ave-demibold;
  src: $ave-src-demibold;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $proxima-nova-font;
  src: $pro-src;
  font-weight: normal;
  font-style: normal;
}

$secondary_font_family: $font-ave-bold, $main_font_family;
html,
body {
  font-family: 'AvenirNext-Regular' !important;
  font-size:16px !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 4px !important;

}

h1 {
  font-size: 32px !important;
  font-weight: 600 !important;
  font-family: 'AvenirNext-Bold' !important;
}

h2 {
  font-size: 24px !important;
  font-weight: lighter !important;
  font-family: 'AvenirNext-Bold' !important;
}

h3 {
  font-size: 18px !important;
  font-weight: lighter !important;
  font-family: 'AvenirNext-Bold' !important;
}

h4 {
  font-size: 16px !important;
  font-weight:lighter!important;
  font-family: 'AvenirNext-DemiBold' !important;
}

h5 {
  font-size: 14px !important;
  font-family: 'AvenirNext-DemiBold' !important;
}

h6 {
  font-size: 13px !important;
  padding: 3px !important;
  font-family: 'AvenirNext-DemiBold' !important;
}

.bod-t1 {
  font-size: 14px !important;
  font-weight: 400;
  -webkit-transform: scale(0.8);
  padding: 3px !important;
  font-family: 'AvenirNext-DemiBold' !important;
}

.bod-t2 {
  font-size: 14px !important;
  -webkit-transform: scale(0.8);
  padding: 3px !important;
  font-family: 'AvenirNext-Regular' !important;

}

.but-t1 {
  font-size: 14px !important;
  padding: 3px !important;
  font-family: 'AvenirNext-DemiBold' !important;

}

.but-t2 {
  font-size: 12px !important;
  padding: 3px !important;
  font-family: 'AvenirNext-Regular' !important;

}
input, button, select, optgroup, textarea {
  /* margin: 0; */
  font-family: inherit;
  font-size:inherit;
  /* line-height: inherit; */}
.sm-t {
  font-size: 12px;
  transform: scale(0.80);
  transform-origin: 0 0;
  -ms-transform: scale(0.80);
  -ms-transform-origin: 0 0;
  -webkit-transform: scale(0.80);
  -webkit-transform-origin: 0 0;
  -moz-transform: scale(0.80);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.80);
  -o-transform-origin: 0 0;
  padding: 3px !important;
  font-family: 'AvenirNext-Regular' !important;
}
.bo-l-r{ border-right: 1px currentcolor solid; border-left: 1px currentcolor solid; }
.bo-all{ border: 1px currentcolor solid; }
.bo-l-r-b{ border-bottom: 1px currentcolor solid;border-right: 1px currentcolor solid; border-left: 1px currentcolor solid; }
