.get-an-estimated-quote {
  width: 984px;
  width: 61.5rem;
  margin: auto; }
  .get-an-estimated-quote .block-button {
    width: 150px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: auto 12px !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #8c8e92;
    color: #549aaa;
    white-space: nowrap; }
    .get-an-estimated-quote .block-button img {
      margin-right: 8px; }
  .get-an-estimated-quote .title {
    margin-top: 60px !important;
    margin-top: 3.75rem !important;
    margin-bottom: 25px !important;
    margin-bottom: 1.5625rem !important; }
  .get-an-estimated-quote .central-contents {
    border-radius: 4px;
    -moz-box-shadow: 0px 2px 10px rgba(44, 60, 89, 0.07);
    -moz-box-shadow: 0px 0.125rem 0.625rem rgba(44, 60, 89, 0.07);
    -webkit-box-shadow: 0px 2px 10px rgba(44, 60, 89, 0.07);
    -webkit-box-shadow: 0px 0.125rem 0.625rem rgba(44, 60, 89, 0.07);
    box-shadow: 0px 2px 10px rgba(44, 60, 89, 0.07);
    box-shadow: 0px 0.125rem 0.625rem rgba(44, 60, 89, 0.07);
    padding: 24px 21px;
    padding: 1.5rem 1.3125rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem; }
    .get-an-estimated-quote .central-contents .input-label {
      font-style: normal !important;
      font-weight: normal !important;
      font-size: 14px  !important;
      line-height: 31px !important;
      font-family: "AvenirNext-Regulart" !important;
      text-transform: capitalize;
      color: #15223d;
      overflow: inherit !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 31px !important;
      margin-bottom: 12px; }
    .get-an-estimated-quote .central-contents .content-title {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      padding: 8px 15px;
      line-height: 24px; }
    .get-an-estimated-quote .central-contents .information-box {
      padding: 0;
      margin: 0;
      border: 1px solid #C8D8E4;
      box-sizing: border-box;
      border-radius: 2px;
      height: 200px;
      height: 12.5rem;
      overflow-y: auto; }
      .get-an-estimated-quote .central-contents .information-box li {
        padding: 5px 15px;
        padding: 0.3125rem 0.9375rem;
        margin: 0;
        border-bottom: 1px solid #C8D8E4; }
    .get-an-estimated-quote .central-contents textarea {
      box-shadow: 0px 2px 10px rgba(44, 60, 89, 0.07);
      box-shadow: 0px 0.125rem 0.625rem rgba(44, 60, 89, 0.07);
      border-radius: 4px;
      border: 1px rgba(44, 60, 89, 0.2) solid;
      min-height: 142px;
      min-height: 8.875rem; }
  .get-an-estimated-quote .nots {
    line-height: 30px;
    line-height: 1.875rem; }
    .get-an-estimated-quote .nots p {
      margin: 20px 0;
      margin: 1.25rem 0; }

.estimated-quote {
  width: 984px;
  width: 61.5rem;
  margin: auto; }
  .estimated-quote .title {
    margin-top: 60px !important;
    margin-top: 3.75rem !important;
    margin-bottom: 25px !important;
    margin-bottom: 1.5625rem !important; }
  .estimated-quote .central-contents {
    border-radius: 4px;
    -moz-box-shadow: 0px 2px 10px rgba(44, 60, 89, 0.07);
    -moz-box-shadow: 0px 0.125rem 0.625rem rgba(44, 60, 89, 0.07);
    -webkit-box-shadow: 0px 2px 10px rgba(44, 60, 89, 0.07);
    -webkit-box-shadow: 0px 0.125rem 0.625rem rgba(44, 60, 89, 0.07);
    box-shadow: 0px 2px 10px rgba(44, 60, 89, 0.07);
    box-shadow: 0px 0.125rem 0.625rem rgba(44, 60, 89, 0.07);
    padding: 24px 21px;
    padding: 1.5rem 1.3125rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem; }
    .estimated-quote .central-contents .content-title {
      font-weight: bold;
      font-size: 18px;
      font-size: 1.125rem; }
    .estimated-quote .central-contents .lift-gate {
      height: 120px;
      height: 7.5rem;
      position: relative;
      padding-left: 40px;
      padding-left: 2.5rem; }
      .estimated-quote .central-contents .lift-gate .titles {
        font-weight: bold;
        font-size: 18px;
        font-size: 1.125rem; }
      .estimated-quote .central-contents .lift-gate .circle {
        width: 16px;
        width: 1rem;
        height: 16px;
        height: 1rem;
        border-radius: 100%;
        border: 2px solid #989A9C;
        box-sizing: border-box;
        position: absolute;
        top: 4px;
        top: 0.25rem;
        left: 0; }
      .estimated-quote .central-contents .lift-gate .lines {
        width: 1px;
        width: 0.0625rem;
        border: 1px dashed #989A9C;
        position: absolute;
        left: 8px;
        left: 0.5rem;
        top: 30px;
        top: 1.875rem;
        bottom: 1%; }
    .estimated-quote .central-contents .item {
      font-weight: bold;
      font-size: 13px;
      font-size: 0.8125rem;
      color: #777879; }
  .estimated-quote .explain-box {
    background: rgba(82, 171, 152, 0.5);
    border-radius: 6px;
    padding: 24px;
    padding: 1.5rem;
    line-height: 30px;
    line-height: 1.875rem; }

/*# sourceMappingURL=connect.css.map */
