@import "./mixins";
@import "./vars";

.unis- {
	&btn {
		@include flexCenter(center);
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 0.021rem;
		@include btn;
		& > .icon-box {
			margin-right: 0.857rem;
		}
		&- {
			&primary {
				@include noboder40;
				background: $themeDefault;
				color: $White;
				padding-left: $px24;
				padding-right: $px24;
				min-width: 7.857142857142857rem;
				border-radius: $borderR;
				@include btna($White);
				&:hover {
					background-color: $themeHover
				}

				&:focus {
					background-color: $themePressed;
				}
				&.disabled, &:disabled {
					color: $themeDisabledCcolor;
					background-color: $themeDisabledBg;
					cursor: not-allowed !important;
				}
			}
			&secondary {
				@include boder40;
				background: $White;
				color: $themeHover;
				padding-left: 1.2857142857142858rem;
				padding-right: 1.2857142857142858rem;
				min-width: 8.5rem;
				border-radius: $borderR;
				border-width: 1px;
				border-style: solid;
				border-color: $borderColor;
				@include btna($themeHover);
				&:hover {
					color: $themePressed;
				}

				&:focus {
					border-color: $themePressed;
					background-color: $themeReplenishColor4;
				}

				&.disabled, &:disabled {
					color: $themeDisabledCcolor;
					background-color: $themeDisabledBg;
					border-color: $themeDisabledBg;
					cursor: not-allowed !important;
				}
			}
			&wIcon {
				min-width: 7.214285714285714rem;
				@include noboder40;
				background: $White;
				color: $themeHover;
				padding-left: $px12;
				padding-right: $px12;
				position: relative;

				i {
					margin-right: $px12;
				}

				&:hover {
					color: $themePressed;
					background: $themeReplenishColor1;
				}

				&:focus {
					background-color: $themeReplenishColor2;
				}

				&.disabled, &:disabled {
					color: $themeDisabledCcolor;
					background-color: $White;
					cursor: not-allowed !important;
				}
				@include roll;
				@include rollBoder($px8 0 $px8 0, 100%, 21.428571428571427em);
			}
			&tertiary {
				@include boder40;
				border-radius: $borderR;
				background: none;
				min-width: 7.857142857142857rem;
				padding-left: $px24;
				padding-right: $px24;
				color: $bodyReplenishColor;
				border-width: 1px;
				border-style: solid;
				border-color: $borderColor;
				@include btna($bodyReplenishColor);
				&:hover {
					background: none;
					border-color: $bodythemeDefaultColor;
					color: $bodythemeDefaultColor;
				}

				&:focus {
					background: none;
					border-color: $bodythemeDefaultColor;
					color: $bodythemeDefaultColor;
				}

				&.disabled, &:disabled {
					color: $themeDisabledCcolor;
					background-color: $themeDisabledBg;
					border-color: $themeDisabledBg;
					cursor: not-allowed !important;
				}
			}
			&text {
				@include noboder40;
				background: none;
				color: $themeDefault;
				min-width: 6.142857142857143rem;
				position: relative;
				@include btna($themeDefault);
				&:hover {
					background: none;
					color: $themeHover;
				}

				&:focus {
					background: none;
					color: $themePressed;
					box-shadow: none !important;
				}

				&.disabled, &:disabled {
					color: $themeDisabledCcolor;
					background: none;
					cursor: not-allowed !important;
				}
			}
			&link {
				background: none;
				@include noboder40;
				color: $bodyReplenishColor;
				position: relative;
				min-width: 2.9285714285714284rem;
				@include btna($bodyReplenishColor);
				&::after {
					content: '';
					position: absolute;
					bottom: 0.2rem;
					height: 0.21428571428571427rem;
					background: $themeDisabledBg;
					left: 0.5rem;
					right: 0.5rem;
					@include transitionAll5;

				}
				&:hover {
					background: none;
					color: $bodyReplenishColor;

				}
				&:hover::after {
					background: $bodyReplenishColor;
					@include transitionAll5;
				}
				&:focus {
					background: none;
					color: $bodyReplenishColor;
					box-shadow: none !important;
				}
				&:focus::after {
					background: $bodyReplenishColor;
					@include transitionAll5;
				}
			}
			&outline {
				@include boder40;
				background: none;
				min-width: 7.642857142857143rem;
				padding-left: 0.7857142857142857rem;
				padding-right: 0.7857142857142857rem;
				height: 2.857142857142857rem;
				min-width: 7.642857142857143rem;
				color: $bodythemeDefaultColor;
				border-width: 1px;
				border-style: solid;
				border-color: $borderColor;
				@include btna($bodythemeDefaultColor);
				i {
					margin-right: 0.7857142857142857rem;
				}
				&.disabled, &:disabled {
					color: $themeDisabledCcolor;
					background-color: $themeDisabledBg;
					border-color: $themeDisabledBg;
					cursor: not-allowed !important;
				}
			}
			&ghost {
				background: none;
				color: #959dac;
				@include boder40;
				position: relative;
				&::after {
					content: '';
					position: absolute;
					top: 100%;
					height: 0.21428571428571427rem;
					background: #56a7fd;
					left: 0;
					right: 0;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);
					border-radius: 4px;
					transition: -webkit-transform .45s cubic-bezier(0.23, 1, 0.32, 1);
					transition: transform .45s cubic-bezier(0.23, 1, 0.32, 1);
					transition: transform .45s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform .45s cubic-bezier(0.23, 1, 0.32, 1);

				}
				&:hover {
					background: none;
					color: #56a7fd;
				}
				&:hover::after {
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
					transition: -webkit-transform .45s cubic-bezier(0.23, 1, 0.32, 1);
					transition: transform .45s cubic-bezier(0.23, 1, 0.32, 1);
					transition: transform .45s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform .45s cubic-bezier(0.23, 1, 0.32, 1);
				}
				&:focus {
					background: none;
					color: #56a7fd;
					box-shadow: none !important;
				}
				&:focus::after {
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
					transition: -webkit-transform .45s cubic-bezier(0.23, 1, 0.32, 1);
					transition: transform .45s cubic-bezier(0.23, 1, 0.32, 1);
					transition: transform .45s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform .45s cubic-bezier(0.23, 1, 0.32, 1);
				}
				&.disabled, &:disabled {
					color: $themeDisabledCcolor;
					background: none;
					cursor: not-allowed !important;
				}
				&:disabled:hover::after {
					background: none;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);
				}
			}
			&option {
				@include boder40;
				background: $White;
				color: $bodythemeDefaultColor;
				position: relative;
				min-width: 7.428571428571429rem !important;
				padding-left: 1.2857142857142858rem;
				justify-content: flex-start !important;
				padding-right: 2.5rem !important;
				@include andAfter;
				&[disabled] > ul {
					display: none;
				}
				@include roll;
				&-outline {
					padding-right: 2.5rem;
					border-width: 1px;
					border-style: solid;
					border-color: $bodythemeDefaultColor;
					&:hover {
						background: $themeDisabledBg;
					}
					&:focus {
						background: $themeReplenishColor6;
					}
					&.disabled, &:disabled {
						color: $themeDisabledCcolor;
						background: $themeDisabledBg;
						cursor: not-allowed !important;
					}
					&[disabled]:hover::before {
						background: none;
						-webkit-transform: scaleX(0);
						transform: scaleX(0);
					}
					@include rollBoder($px4);
					@include roll($px10 1em);
				}
				&-noOutline {
					min-width: 11.285714285714286rem !important;
					padding-left: $px16 !important;
					justify-content: flex-start !important;
					padding-right: 2.5rem !important;
					&:hover {
						background: $themeReplenishColor1;
						color: $themePressed;
					}
					&:focus {
						background: $themeReplenishColor2;
						color: $themePressed;
					}
					&.disabled, &:disabled {
						color: $themeDisabledCcolor;
						background: $themeDisabledBg;
						cursor: not-allowed !important;
					}
					&[disabled]:hover::before {
						background: none;
						-webkit-transform: scaleX(0);
						transform: scaleX(0);
					}
					@include rollBoder($px8 0, 100%);
					@include roll($px5-5 $px16);
				}

			}
			&table-dropdown {
				@include noboder32;
				position: relative;
				min-width: 6.928571428571429rem !important;
				background: $White;
				color: $themeHover;
				padding-left: 11px;
				padding-right: 11px;
				i {
					margin-right: 11px !important;
				}

				&:hover {
					color: $themePressed;
					background: $themeReplenishColor1;
				}

				&:focus {
					background-color: $themeReplenishColor2;
				}

				&.disabled, &:disabled {
					color: $themeDisabledCcolor;
					background-color: $White;
					cursor: not-allowed !important;
				}
				@include rollBoder($px8 0 $px8 0, 21.428571428571427rem);
				@include roll($px5 $px15);
			}
			&tabs {
				@include noboder48;
				box-sizing: content-box;
				border-top: 2px solid #ffffff;
				border-bottom: 2px solid #ffffff;
				padding-left: 8px;
				padding-right: 8px;
				color: $bodyReplenishColor;
				position: relative;
				background: #ffffff;
				min-width: 2.9285714285714284rem;
				@include btna($bodyReplenishColor);
				&:hover {
					background: none;
					border-bottom: 2px solid $c488492;
					color: $c488492;
					@include transitionAll5;
				}
				&:focus {

					color: $c488492;
					border-bottom: 2px solid $c488492;
					@include transitionAll5;
				}

			}

		}
		&.tabs-active {
			color: $c488492 !important;
			border-bottom: 2px solid $c488492 !important;
			@include transitionAll5;
		}
		&.active {
			background-color: $themePressed !important;
		}
	}
	&compact {
		@include noboder32;
		min-width: 7.857142857142857rem;
		padding-left: $px24;
		padding-right: $px24;

	}
	&brcompact {
		@include boder32();
		min-width: 7.857142857142857rem;
		padding-left: $px24;
		padding-right: $px24;

	}
	&lag {
		width: 100% !important;
		min-width: 100% !important;
	}
	&icon {
		font-family: 'unis' !important;
	}
	&add {
		width: 0.75rem;
		height: 0.75rem;
		position: relative;
		&:after, &:before {
			content: "";
			position: absolute;
			z-index: 5;
			background: currentcolor;

		}
		&:before {
			left: 0.3125rem;
			top: 0;
			bottom: 0;
			width: 0.125rem;
		}
		&:after {
			left: 0;
			top: 0.3125rem;
			right: 0;
			height: 0.125rem;
		}
	}
	&icon-btn {
		@include boder32Icon;
		@include flexCenter(center);
		min-width: 1em;
		background: $White;
		border: 1px solid $themeDisabledCcolor;
		color: $themeDisabledCcolor;
		font-size: 1rem;
		border-radius: $borderR;
		cursor: pointer;
		&:hover, &:focus {
			text-decoration: none;
			outline: 0;
		}
		&:hover {
			background: $themeReplenishColor2;
			color: $themePressed;
			border-color: $themeReplenishColor2;
		}
		&:focus {
			background-color: $themePressed;
			color: $bodythemeDefaultColor;
			border-color: $themeReplenishColor2;
		}
		&.disabled, &:disabled {
			color: $themeDisabledCcolor;
			background-color: $themeDisabledBg;
			border: none;
			cursor: not-allowed !important;
		}
		&-option {
			position: relative;
			@include iconDot;
			&[disabled] > ul {
				display: none;
			}
			@include rollBoder($px4);
			@include roll($px9-5 1em);
		}

	}
	&blick-btn {
		min-width: 12.928571428571429rem;
		height: 5.571428571428571rem;
		display: flex;
		align-items: center;
		background: $White;
		border: 1px solid $White;
		color: $bodythemeDefaultColor;
		font-size: 1rem;
		box-shadow: 0px 0.5rem 4.571428571428571rem rgba(44, 60, 89, 0.07);
		border-radius: $borderR;
		cursor: pointer;
		&:hover, &:focus {
			text-decoration: none;
			outline: 0;
		}
		&:hover {

			border-color: $themeHover;
		}
		&:focus {
			border-color: $themePressed;
		}
		&.disabled, &:disabled {
			color: $themeDisabledCcolor;
			background-color: $themeDisabledBg;
			border: none;
			cursor: not-allowed !important;
		}
		&-option {
			position: relative;
			@include iconDot;
			&[disabled] > ul {
				display: none;
			}
			@include rollBoder($px4);
			@include roll($px10 1em);
		}

	}
	&radius37 {
		width: 2.642857142857143rem;
		height: 2.642857142857143rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 37px;
		overflow: hidden;
	}
	&adj {
		@include flexCenter(center);
		display: inline-flex;
		list-style: none;
		padding: 0;
		min-width: 8.5rem;
		margin: 0;
		& > a {
			flex: 1;
			min-width: 8.5rem;
			text-decoration: none;
			@include boder40;
			font-size: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background: $White;
			border: 1px solid $themeDisabledCcolor;
			margin-left: -$px1;
			color: $bodythemeDefaultColor;
			cursor: pointer;
			border-radius: $borderR;
			outline: none;
			font-weight: bold;
			transition: all 0.4s;
			&:hover {
				text-decoration: none;
				color: $themePressed;
				border-color: $themePressed;
				transition: all 0.4s;
				z-index: 1;
			}
			&:not(:last-child) {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			&:not(:first-child) {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
			&.active {
				color: $themePressed;
				border-color: $themePressed;
				z-index: 1;
			}
		}
	}
	&switch {
		&, &-style, &-style:before {
			box-sizing: border-box;
		}
		display: inline-block;
		font-size: 100%;
		position: relative;
		margin-bottom: inherit;
		& > span:last-child {
			vertical-align: middle;
			margin-left: 0.8rem;
		}
		&-style {
			vertical-align: middle;
			height: 1.1428571428571428rem;
			left: 0;
			background: #B4B5B5;
			border-radius: 1.1428571428571428rem;
			display: inline-block;
			position: relative;
			top: 0;
			transition: all .3s ease-in-out;
			width: 2.857142857142857rem;
			cursor: pointer;
			&:before {
				display: block;
				content: '';
				height: 1rem;
				position: absolute;
				width: 1rem;
				background-color: $White;
				border-radius: 50%;
				left: $pxr1;
				top: $pxr1;
				transition: all .3s ease-in-out;
			}
		}
		& > input[type="checkbox"] {
			display: none;
			&[disabled] + .unis-switch-style {
				cursor: not-allowed;
				background-color: #B4B5B5;
			}
			&:checked + .unis-switch-style {
				background-color: $themePressed;
				&:before {
					left: 61%;
				}
			}
			&:checked[disabled] + .unis-switch-style {
				background-color: $themePressed;
			}
		}
		& > &-blue > input[type="checkbox"] {
			&:checked + .unis-switch-style {
				background-color: $themePressed;
			}
			&:checked[disabled] + .unis-switch-style {
				background-color: $themePressed;
			}
		}
	}
	&input {
		background: $White;
		@include boder32;
		display: block;
		border: 1px solid $inputBorderColor;
		border-radius: 2px;
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
		color: $bodythemeDefaultColor;
		&:hover {
			border-color: $inputHoverColor;
		}
		&:focus {
			border-color: $themeDefault;
			outline: none;
		}
		&[disabled] {
			background: $themeDisabledBg;
			border-color: $themeDisabledBg;
			cursor: not-allowed;
			color: $themeDisabledCcolor;
			:after {
				cursor: not-allowed;
			}
		}
		@include placeholder;
		+ .message {
			display: none;
			color: $inputErrorColor;
			position: absolute;
			left: 0;
			top: calc(100% + 1px);
			+ .warn {
				display: none;
				color: $White;
				background: $inputErrorColor;
				position: absolute;
				width: 1rem;
				height: 1rem;
				right: 1rem;
				top: $px8;
				border-radius: 1rem;
				&:before {
					content: '!';
					position: absolute;
					color: $White;
					text-align: center;
					line-height: 1rem;
					font-size: $px12;
					width: 1rem;
					height: 1rem;
				}
			}
		}

		&[error] {
			border: 1px solid $inputErrorColor;
			+ .message {
				display: block;
				+ .warn {
					display: block;
				}
			}
		}
	}
	&display-input {
		background: $White;
		height: 2rem;
		border-radius: 2px;
		width: 100%;
		color: $bodythemeDefaultColor;
		border: none;
		box-shadow: none;
		&:hover {
			border-color: $inputHoverColor;
		}
		&:focus {
			border-color: $themeDefault;
			outline: none;
		}
		&[disabled] {
			background: $themeDisabledBg;
			border-color: $themeDisabledBg;
			cursor: not-allowed;
			color: $themeDisabledCcolor;
			:after {
				cursor: not-allowed;
			}

		}
		@include placeholder;
		+ .message {
			display: none;
			color: $inputErrorColor;
			position: absolute;
			left: 0;
			top: calc(100% + 0.3rem);
			+ .warn {
				display: none;
				color: $White;
				background: $inputErrorColor;
				position: absolute;
				width: 1rem;
				height: 1rem;
				right: 1rem;
				top: $px8;
				border-radius: 1rem;
				&:before {
					content: '!';
					position: absolute;
					color: $White;
					text-align: center;
					line-height: 1rem;
					font-size: $px12;
					width: 1rem;
					height: 1rem;
				}
			}
		}

		&[error] {
			border: 1px solid $inputErrorColor;
			+ .message {
				display: block;
				+ .warn {
					display: block;
				}
			}
		}
	}
	&textarea {
		width: 100%;
		background: $White;
		border: none;
		min-height: 4.571428571428571rem;
		border: 1px solid $inputBorderColor;
		box-shadow: 0px 0.5rem 4.571428571428571rem rgba(44, 60, 89, 0.07);
		border-radius: $borderR;
		padding: 0.5rem 1rem;
		@include placeholder;
		&:focus {
			outline: 0;
		}
	}
	&radio, &checkbox {
		position: absolute;
		display: none;
		& + label {
			position: relative;
			margin: 0;
			cursor: pointer;
			display: block;
			vertical-align: middle;
			&:hover:before {
				animation-duration: 0.4s;
				animation-fill-mode: both;
				animation-name: hover-color;
			}
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				box-sizing: border-box;
				content: '';
				border: 1px solid #989A9C;
			}
			&:after {
				position: absolute;
				display: none;
				content: '';
			}
		}
		&[disabled] {
			cursor: not-allowed;
			& + label {
				cursor: not-allowed;
				color: $themeDisabledCcolor;
				&:hover,
				&:before,
				&:after {
					cursor: not-allowed;
				}
				&:hover:before {
					border: 1px solid $themeDisabledCcolor;
					animation-name: none;

				}
				&:before {
					border-color: $themeDisabledCcolor;
					background: $themeDisabledBg !important;
				}
			}
		}
		&:checked {
			& + label {
				&:before {
					animation-name: none;
				}
				&::after {
					display: block;
				}
			}
		}

	}
	&radio {
		& + label {
			&:before {
				border-radius: 50%;
				width: $px20;
				height: $px20;
			}
			&:after {
				top: $px3;
				left: $px3;
				width: $px14;
				height: $px14;
				border-radius: 50%;
				background: $bodyReplenishColor;
			}
		}
		&:checked {
			& + label {
				&:before {
					border: 1px solid $themeDisabledCcolor;
				}

			}
			&[disabled] {
				& + label {
					&:before {
						border: 1px solid $themeDisabledCcolor;
					}
					&:after {
						background: $themeDisabledCcolor;
					}
				}
			}

		}
	}
	&checkbox {
		& + label {
			min-width: $px24;
			line-height: $px24;
			height: $px24;
			&:before {
				border-radius: $em3;
				width: $px24;
				height: $px24;
			}
			&:after {
				top: calc(50% - 0.6em);
				left: $px9-5;
				box-sizing: border-box;
				width: $px6;
				height: $px12;
				transform: rotate(45deg);
				border-width: $em2;
				border-style: solid;
				border-color: #777879;
				border-top: 0;
				border-left: 0;
			}
		}
		&:checked {
			& + label {
				&:before {
					border: 1px solid $themeDisabledCcolor;
					background: inherit;
				}

			}
			&[disabled] {
				& + label {
					&:after {
						border-color: $themeDisabledCcolor !important;
					}
					&:before {
						border: 1px solid $themeDisabledCcolor !important;
						background: inherit;
					}
				}
			}
		}
	}
	&bl-radio-box {
		position: relative;
		input[type=radio] {
			position: absolute;
			display: none;
			& + label {
				cursor: pointer;
				width: 7.4375rem;
				margin-bottom: 0 !important;
				height: 2.857142857142857rem;
				display: flex;
				padding: 0;
				justify-content: center;
				align-items: center;
				border: 1px solid $borderColor;
				&:hover:before {
					animation-duration: 0.4s;
					animation-fill-mode: both;
					animation-name: hover-color;
				}
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					cursor: pointer;
					display: inline-block;
					width: 7.4375rem;
					box-sizing: border-box;
					height: 2.5rem;
					@include noboder40;
					content: '';
				}
			}
			&:checked {
				& + label {
					border: 1px solid $themePressed;
					color: $themePressed
				}
			}
			&[disabled] {
				& + label {
					cursor: not-allowed;
					border: 1px solid $themeDisabledBg;
					color: $themeDisabledCcolor
				}
			}
		}
		.compact {
			& + label {
				height: 2.2857142857142856rem !important;
			}
		}
	}
	&search-down {
		&.multi {
			& > ul {
				top: calc(100%) !important;
				border-radius: 0 0 6px 6px;
				border-top: dashed 1px #D3D8DE;

			}
		}
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		background: $White;
		flex-flow: wrap;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		justify-content: space-between;
		background: none;
		user-select: none;
		outline: none;
		border: none;
		& > ul {
			.label {
				width: 100%;
				padding: 16px 17.26px 6px 17.26px;
				display: flex;
				font-weight: bold;
				align-items: center;
				justify-content: space-between;
			}
		}

		&:focus {
			outline: none;
			border: none;
		}
		i {
			color: $inputHoverColor;
		}
		input[type=text] {
			flex: 1;
			background: none;
			border: 1px solid #444545;
			box-shadow: 0px 0.5rem 4.571428571428571rem rgba(44, 60, 89, 0.07);
			border-radius: 2px;
			@include noboder40();
			width: 100%;
			height: 100%;
			z-index: 0;
			padding-left: 3.142857142857143rem;
			padding-right: 3.142857142857143rem;
			text-align: left;
			cursor: text;
			outline: none;
			@include transitionAll5;
			color: $bodythemeDefaultColor;

			&::-webkit-input-placeholder {
				color: #D3D8DE;
			}
			&:-moz-placeholder {
				color: #D3D8DE;
			}
			&::-moz-placeholder {
				color: #D3D8DE;
			}
			&:-ms-input-placeholder {
				color: #D3D8DE;
			}
			&.focus {
				border-left-color: white;
				border-top-color: white;
				border-right-color: white;
				border-bottom-color: #B4B5B5;
				@include transitionAll5;
				& + i {
					color: $bodythemeDefaultColor;
					transition: all 0.4s;
				}
			}
		}
		& > span {
			position: absolute;
			top: $px8;
			left: $px16;
			font-size: $px16;
			transition: all 0.4s;
			z-index: 1;
			color: $bodythemeDefaultColor;
		}

		& > .left {
			left: $px15 !important;
		}
		& > .right {
			right: $px15 !important;
		}

		@include rollBoder($px4 0, 100%, calc(100%));
		@include roll($px5-5 2.8rem);
	}
	&search-compact {
		input[type=text] {
			@include noboder32();
		}
		& > span {
			top: $px6;

		}
	}
	&stepper, &page {
		@include flexCenter(center);
		position: relative;
		display: inline-flex;
		justify-content: space-between;
		& > button:disabled {
			color: $themeDisabledBg;
			cursor: not-allowed;
			&:hover {
				color: #DFE2E9;
			}
		}
		& > button {
			@include boder24;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid $inputHoverColor;
			outline: none;
			background: $White;
			border-radius: $borderR;
			color: $inputHoverColor;
			cursor: pointer;
			margin-right: 0.5rem;
			transition: all 0.4s;
			@include flexCenter(center);
			&:hover {
				transition: all 0.4s;
				color: $bodythemeDefaultColor;
			}
			&:focus {
				border: 1px solid $inputHoverColor;
				outline: none;
				transition: all 0.4s;
				color: $bodythemeDefaultColor;
			}
			& > .minus {
				//width: $px8;
				//height: 0.14285714285714285rem;
				background: currentcolor;
				border-radius: $borderR;
			}
			& > i {
				font-size: 1em;
			}

		}
		& > button[disabled] {
			border-color: $inputPlaceholderColor;
			color: $inputPlaceholderColor;
		}
		& > span {
			display: inline-block;
			margin-right: 1rem;
			margin-left: 0.3rem;
			color: $bodythemeDefaultColor;
		}
		& > .input-box {
			margin-right: 0.3rem;
			margin-left: 0.3rem;
			height: $px24;
			font-size: 1rem;
			padding: 0 0.65rem;
			display: inline-block;
			color: #ffffff;
			position: relative;
			& > input[type=text] {
				position: absolute;
				border-radius: 8px;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				font-size: 1rem;
				display: inline-flex;
				padding: 0 0.4rem 0 0.6rem;
				border: none;
				background: #FFFFFF;
				box-shadow: 0px 0.5rem 1.4285714285714286rem rgba(44, 60, 89, 0.07);
				color: #56A7FD;
				outline: none;

			}

		}
		& > .error {
			white-space: nowrap;
			width: auto;
			display: inline-block;
			position: absolute;
			bottom: -1.2857142857142858rem;
			right: 0;
			color: #ED5158;
		}
		& > .select {
			position: relative;
			box-shadow: 0px 0.5rem 4.571428571428571rem rgba(44, 60, 89, 0.07);
			border-radius: 6px;
			color: #56A7FD;
			width: auto !important;
			padding-right: $px24 !important;
			margin-right: 0.7142857142857143rem;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			background: #ffffff;
			font-weight: normal;
			font-size: 0.7142857142857143rem;
			user-select: none;
			outline: none;
			border: none;
			@include rollBoder(4px 0, 100%, calc(100%));
			@include roll($px10 1em);
			& + span {
				font-weight: normal;
				font-size: 0.7142857142857143rem;
			}
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				margin-top: -0.14285714285714285rem;
				right: 0.7142857142857143rem;
				border-width: 4px !important;
				width: 0;
				height: 0;
				z-index: 0;
				border-style: solid;
				border-color: currentcolor transparent transparent transparent;
			}

		}
	}
	&select {
		&-xs {
			min-width: 4.571428571428571rem !important;
			width: auto !important;
		}
		&-small {
			min-width: 8.571428571428571rem !important;
			width: auto !important;
		}
		&-medium {
			min-width: 12.857142857142858rem !important;
			width: auto !important;
		}

		&:focus {
			border-color: $themeDefault;
			@include transitionAll5;
			outline: 0;
		}
		&.multi {
			& > ul {
				top: calc(100%) !important;
				border-radius: 0 0 6px 6px;
				border-top: dashed 1px $inputBorderColor;
			}
		}
		@include andAfter;
		font-size: 1rem;
		min-height: 32px;
		position: relative;
		width: 100%;
		box-shadow: 0px 0.5rem 4.571428571428571rem rgba(44, 60, 89, 0.07);
		border-radius: $borderR;
		cursor: pointer;
		display: flex;
		flex-flow: wrap;
		align-items: center;
		padding-left: $px16;
		padding-right: $px16;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		background: $White;
		user-select: none;
		outline: none;
		border: 1px solid $inputBorderColor;
		&:hover {
			border-color: $themeDisabledCcolor;
			@include transitionAll5;
			outline: 0;
		}

		input[type=button] {
			background: none;
			cursor: pointer;
			@include boder32();
			width: 100%;
			height: 100%;
			flex: 1;
			z-index: 1;
			text-align: left;
			outline: none;
			color: $bodythemeDefaultColor;
			border: none;
			transition: all 0.4s;
			box-shadow: none;
			@include insadeInput;

		}
		.value {
			background: none;
			width: 100%;
			height: 100%;
			flex: 1;
			z-index: 1;
			text-align: left;
			color: $bodythemeDefaultColor;
		}
		input[type=text] {
			flex: 1;
			background: none;
			z-index: 1;
			@include noboder32;
			min-width: 5.714285714285714rem;
			height: 100%;
			text-align: left;
			cursor: text;
			outline: none;
			border: none;
			color: $bodythemeDefaultColor;
			transition: all 0.4s;
			box-shadow: none;
			@include insadeInput;
			&::-webkit-input-placeholder {
				color: $inputPlaceholderColor;
			}
			&:-moz-placeholder {
				color: $inputPlaceholderColor;
			}
			&::-moz-placeholder {
				color: $inputPlaceholderColor;
			}
			&:-ms-input-placeholder {
				color: $inputPlaceholderColor;
			}
		}
		.message {
			display: none;
			color: $inputErrorColor;
			position: absolute;
			left: 0;
			top: calc(100% + 1px);
		}

		&[error] {
			border: 1px solid $inputErrorColor;
			.message {
				display: block;
			}
		}
		&.disabled, &:disabled {
			border-color: $themeDisabledBg;
			color: $themeDisabledCcolor;
			background-color: $themeDisabledBg;
			cursor: not-allowed !important;
		}
		& > span {
			line-height: $px16;
			letter-spacing: 0.028571428571428574rem;
			@include flexCenter(center);
			font-size: 0.8rem;
			border-radius: $borderR;
			padding: 0.2rem 0.4rem;
			margin-right: 0.1rem;
			margin-bottom: 0.2rem;
			position: relative;
			& > i {
				width: 1rem;
				height: 1rem;
				margin-left: 0.42857142857142855rem;
				font-size: 0.7142857142857143rem;
				border-radius: 14px;
				background: #56A7FD;
				color: #ffffff;
				display: inline-block;
				cursor: pointer;

			}
		}
		&-h40 {

			input[type=button] {
				@include noboder40;
			}
			input[type=text] {
				@include noboder40;
			}

		}
		@include rollBoder($px4 0, 100%);
		@include roll($px5-5 $px16, $themeDisabledBg);

	}
	&status {
		border-radius: 12px;
		display: inline-block;
		@include f-12-noboder24;
		white-space: nowrap;
		font-size: $px12;
		transform: scale(0.83);
		padding-left: $px8;
		padding-right: $px8;
	}
	&active {
		@include btn;
		@include f-13-noboder20;
		display: inline-block;
		@include flexCenter(center);
		border-radius: $borderR;
		border: none;
		padding-left: $px16;
		padding-right: $px16;
		font-size: 0.9285714285714286rem;
	}
	&status-green {
		background: var(--greenLine);
		color: var(--greenbled);
	}
	&status-purple {
		background: var(--purpleLine);
		color: var(--purplebled);
	}
	&status-pink {
		background: var(--pinkLine);
		color: var(--pinkbled);
	}
	&status-lightGreen {
		background: var(--lightGreenLine);
		color: var(--lightGreenBled);
	}
	&status-blue {
		background: var(--blueLine);
		color: var(--blueBled);
	}
	&token {
		@include btn;
		@include f-12-noboder24;
		min-height: $px24;
		min-width: 5.714285714285714rem;
		display: flex;
		@include flexCenter(center);
		border-radius: $borderR;
		border: none;
		padding-left: $px4;
		padding-right: $px4;
		font-size: $px12;
		transform: scale(0.83);
		background: $themeDisabledBg;
		&:hover {
			background: $inputBorderColor;
		}
		&:focus {
			background: $inputBorderColor;
		}
	}
	&sort-order {
		display: flex;
		@include flexCenter(center);
		border-radius: $borderR;
		border: none;
		@include btn;
		color: $bodyReplenishColor;
		background: none;
		i {
			color: $themeHover;
		}
		&:hover, &:focus {
			background: none;
			color: $bodythemeDefaultColor;
			i {
				color: $themePressed;
			}
		}
	}
	&info-table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0rem;
		thead {
			tr {
				th {
					border-bottom: 1px solid rgba(68, 69, 69, 0.2);
					border-left-width: 0px;
					border-top-width: 0px;
					border-right-width: 0px;
					min-height: 3.9285714285714284rem;
					height: 3.9285714285714284rem;
					color: $inputHoverColor;
					vertical-align: middle;
					&:first-child {
						padding-left: 1.3125rem;
					}
					&:last-child {
						padding-right: 1.3125rem;
					}
				}

			}
		}
		tbody {
			tr {
				box-sizing: border-box;
				border-radius: 4px;
				box-sizing: border-box;
				padding: 0;
				margin: 0;
				border-bottom: 1px solid green;
				&:hover {
					td {
						&:before {
							background: #F9F9F9;
							@include transitionAll5;
						}
					}
				}
				td {
					padding-top: $px11;
					padding-bottom: $px11;
					min-height: 3.4285714285714284rem;
					height: 3.4285714285714284rem;
					vertical-align: middle;
					border-left-width: 0px;
					font-size: $px12;
					border-bottom: 1px solid rgba(68, 69, 69, 0.2);
					border-right-width: 0px;
					position: relative;
					&:before {
						content: '';
						position: absolute;
						top: 0.35714285714285715rem;
						bottom: 0.35714285714285715rem;
						background: #ffffff;
						left: 0;
						width: 100%;
						right: 0;
						z-index: -1;
						@include transitionAll5;
					}
					&:first-child {
						padding-left: 1.3125rem;
					}
					&:last-child {
						padding-right: 1.3125rem;
					}
				}
			}
		}
	}
	&card-table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0 0.875rem;
		thead {
			tr {
				border: none;
				th {
					font-weight: bold;
					padding-top: 1rem;
					padding-bottom: 1rem;
					font-size: 0.9285714285714286rem;
					&:first-child {
						padding-left: 1.3125rem;
					}
					&:last-child {
						padding-right: 1.3125rem;
					}
				}
			}
		}
		tbody {
			tr {
				box-sizing: border-box;
				box-shadow: 0px 0.5rem 4.571428571428571rem rgba(44, 60, 89, 0.07);
				border-radius: 4px;
				padding: 0;
				margin: 0;
				&:hover {
					td {
						border-color: #7CA7B1;
						@include transitionAll5;
						&:first-child {
							border-color: #7CA7B1;
							@include transitionAll5;
						}
						&:last-child {
							border-color: #7CA7B1;
							@include transitionAll5;
						}

					}
				}
				td {
					padding-top: 1rem;
					padding-bottom: 1rem;
					min-height: 3.4285714285714284rem;
					height: 3.4285714285714284rem;
					background: #ffffff;
					border-bottom: 2px solid #FFFFFF;
					border-top: 2px solid #FFFFFF;
					font-size: $px12;
					vertical-align: middle;
					@include transitionAll5;
					&:first-child {
						padding-left: 1.3125rem;
						border-left: 2px solid #FFFFFF;
						border-radius: 4px 0 0 4px;
						@include transitionAll5;
					}
					&:last-child {
						padding-right: 1.3125rem;
						border-right: 2px solid #FFFFFF;
						border-radius: 0 4px 4px 0;
						@include transitionAll5;
					}
				}
			}
			.active {
				td {
					border-color: $c488492;
					@include transitionAll5;
					&:first-child {
						border-color: $c488492;
						@include transitionAll5;
					}
					&:last-child {
						border-color: $c488492;
						@include transitionAll5;
					}

				}
			}
		}
	}
	&data-table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0 0;
		thead {
			tr {
				border: none;
				th {
					font-weight: bold;
					@include noboder40;
					background: var(--BK900);
					border-top: 1px solid var(--G300);
					border-bottom: 1px solid var(--G300);
					&:first-child {
						padding-left: 24px;
						border-left: 1px solid var(--G300);
					}
					&:last-child {
						padding-right: 24px;
						border-right: 1px solid var(--G300);
					}
				}
			}
		}
		tbody {
			tr {
				box-sizing: border-box;
				padding: 0;
				margin: 0;
				&:hover {
					td {
						background: var(--BK900);
						@include transitionAll5;
					}
				}
				td {
					@include noboder40;
					min-height: 3.4285714285714284rem;
					background: #ffffff;
					border-bottom: 1px solid var(--G300);
					border-top: none;
					font-size: 1rem;
					vertical-align: middle;
					@include transitionAll5;
					&:first-child {
						padding-left: 24px;
						border-left: 1px solid var(--G300);
					}
					&:last-child {
						padding-right: 24px;
						border-right: 1px solid var(--G300);
					}
				}
			}
		}
	}
	&time-table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0 0;
		thead {
			tr {
				border: none;
				th {
					font-weight: bold;
					@include noboder40;
					font-size: 16px;
					background: $themeDisabledBg;
					border: none;
					&:first-child {
						padding-left: 22px;
					}
					&:last-child {
						padding-right: 22px;
					}
				}
			}
		}
		tbody {
			tr {
				box-sizing: border-box;
				padding: 0;
				margin: 0;
				&:hover {
					td {
						background: var(--BK900);
						@include transitionAll5;
					}
				}
				td {
					@include noboder40;
					min-height: 3.4285714285714284rem;
					background: #ffffff;
					border: none;
					font-size: $px16;
					vertical-align: middle;
					&:first-child {
						padding-left: 22px;
					}
					&:last-child {
						padding-right: 22px;
					}
				}
			}
		}
	}
	&nobr-table {
		width: 100%;
		border-collapse: collapse;
		tbody {
			tr:last-child {

				td {
					padding-bottom: $px24 !important;
					padding-top: $px24 !important;
				}
			}
		}
	}
	&mpty-tbody {
		width: 100%;
		height: 21.428571428571427rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $inputHoverColor;
		background: #F9F9F9;
	}
	&li40 {
		@include rollBoder($px4 0, 100%);
		@include roll($px8 $px16, $themeDisabledBg);
	}
	&dropdown {
		@include dropdown;
	}
	&multiselect {
		position: relative;
		box-shadow: 0px 0.5rem 4.571428571428571rem rgba(44, 60, 89, 0.07);
		border-radius: $borderR;
		width: 100%;
		display: flex;
		flex-flow: wrap;
		align-items: center;
		padding: 0 0.7142857142857143rem !important;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		background: $White;
		user-select: none;
		outline: none;
		border: 1px solid $inputBorderColor;
		@include transitionAll5;
		&.disabled, &:disabled {
			i{
				color: $themeDisabledCcolor;
			}
			span{
				color: $themeDisabledCcolor;
			}
			input[type=button] {
				color: $themeDisabledCcolor;
				background-color: $themeDisabledBg;
				cursor: not-allowed !important;
				pointer-events: none !important;
			}
			input[type=text] {
				color: $themeDisabledCcolor;
				background-color: $themeDisabledBg;
				cursor: not-allowed !important;
				pointer-events: none !important;
			}
			border-color: $themeDisabledBg;
			background-color: $themeDisabledBg;
			cursor: not-allowed !important;
			&:hover {
				border-color: $themeDisabledBg;
			}
			&:focus {
				border-color: $themeDisabledBg;
			}
			ul{
				display: none;
			}
		}
		&:hover {
			border: 1px solid $themeDisabledCcolor;
			@include transitionAll5;
			outline: 0;
		}
		&:focus {
			border: 1px solid $themeDisabledCcolor;
			@include transitionAll5;
			outline: 0;
		}
		input[type=button] {
			background: none;
			cursor: pointer;
			@include boder32;
			padding-left: $px16 !important;
			padding-right: $px16 !important;
			width: 100%;
			height: inherit;
			margin: 0;
			flex: 1;
			z-index: 1;
			text-align: left;
			outline: none;
			color: $bodythemeDefaultColor;
			border: none;
			transition: all 0.4s;
			@include placeholder;
			&:hover, &:focus {
				text-decoration: none;
				border: none;
				outline: 0 !important;
			}
		}
		input[type=text] {
			flex: 1;
			background: none;
			z-index: 1;
			margin: 0;
			display: block !important;
			width: 85%;
			@include boder32;
			padding-left: $px16 !important;
			padding-right: $px16 !important;
			cursor: text;
			outline: none;
			border: none;
			height: inherit;
			color: $bodythemeDefaultColor;
			transition: all 0.4s;
			@include placeholder;
			&:hover, &:focus {
				text-decoration: none;
				border: none;
				outline: 0 !important;
			}
		}
		@include rollBoder($px4 0, 100%);
		@include roll($px8 $px16, $themeDisabledBg);
	}
	&modal-primary {
		width: 520px;
		max-height: 300px;
		background: #FFFFFF;
		box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
		border-radius: 6px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		.content {
			width: 100%;
			min-height: 145px;
			max-height: 145px;
			overflow-y: auto;
			@include rollBackground;
		}
	}
	&modal-select {
		background: #FFFFFF;
		width: 100%;
		box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
		border-radius: 6px;
		.content {
			width: 100%;
			max-height: 520px;
			overflow-y: auto;
			@include rollBackground;
		}
	}
	&date-filter {
		position: absolute;
		top: calc(100% + 0.571rem);
		left: 0;
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding: 0;
		background: #FFFFFF;
		box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
		border-radius: 6px;
		.date-range {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			white-space: nowrap;
			button {
				max-width: 250px;
				background: #FFFFFF;
				border: 1px solid #D3D8DE;
				box-sizing: border-box;
				border-radius: 0.857rem;
				margin-left: 1.143rem;
				&::after {
					bottom: 0.2rem;
				}
				input {
					border-radius: 0.857rem;
					padding: 0.24rem 28px 0.24rem 1rem !important;
					min-height: 24px;
				}
				.disblock {
					display: block;
					height: auto;
					@include transitionAll5;
					border-top: dashed 1px #D3D8DE;
					li {
						padding: 0.9286rem 1rem;
						@include transitionAll5;
					}
				}
				ul {
					display: none;
					height: 0;
					z-index: 100;
					border-top: none;
					li {
						padding: 0;
					}
				}
			}
		}
		.operating-box {
			display: inline-flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			.arrow {
				display: inline-block;
				position: relative;
				font-size: inherit;
				width: 0.6em;
				&::after {
					display: inline-block;
					content: " ";
					height: 0.6em;
					width: 0.6em;
					border-width: 0 1px 1px 0;
					border-color: currentcolor;
					border-style: solid;
					-webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
					transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
					-webkit-transform-origin: center;
					transform-origin: center;
					transition: -webkit-transform .3s;
					transition: transform .3s, -webkit-transform .3s;
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -0.375em;
					margin-left: -0.375em;
				}
			}
		}
		.date-box {
			display: inline-flex;
			justify-content: flex-start;
			flex-direction: row;
			flex-flow: nowrap;
			.date-view {
				padding: 1.143rem;
				width: 22.286rem;
				height: auto;
				display: inline-flex;
				justify-content: flex-start;
				flex-flow: wrap;
				.operating-box {
					display: flex;
					flex-wrap: nowrap;
					justify-content: space-between;
					align-items: center;
					width: 22.286rem;
					font-weight: 600;
					font-size: 13px;
					line-height: 16px;
					text-align: center;
					letter-spacing: 0.4px;
					color: #2C3C59;

					.arrow-box {
						display: inline-block;
						position: relative;
						font-size: 1.143rem;
						width: 1.143rem;
						height: 1.143rem;
						background: #D5E9FA;
						border-radius: 1.143rem;
						cursor: pointer;
						&::after {
							display: inline-block;
							content: " ";
							height: 8px;
							width: 8px;
							border-width: 0 2px 2px 0;
							border-color: #677388;
							border-style: solid;
							-webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
							transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
							-webkit-transform-origin: center;
							transform-origin: center;
							transition: -webkit-transform .3s;
							transition: transform .3s, -webkit-transform .3s;
							position: absolute;
							top: 50%;
							left: 50%;
							margin-top: -0.28em;
							margin-left: -0.28em;

						}
						&::before {
							position: absolute;
							content: " ";
							top: 50%;
							left: 50%;
							height: 2px;
							width: 0.60em;
							background: #677388;
							margin-top: -1px;
						}
						&.right::after {
							@include arrowTransition(.3s, -45deg);
						}
						&.right::before {
							margin-left: -0.3885em;
						}
						&.left::after {
							@include arrowTransition(.3s, 135deg);
						}
						&.left::before {
							margin-left: -0.2em;
						}
					}
				}
				.dates {
					width: 2.857rem;
					height: 2rem;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: 0.571rem;
					text-align: center;
					cursor: pointer;
					color: #C8CDD5;
					position: relative;
					z-index: 1;
					& > span {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						z-index: 1;
						text-align: center;
						line-height: 1.714rem;
					}

				}
				.weeks {
					color: #677388;
					line-height: 16px;
					text-align: center;
					letter-spacing: 0.4px;
					cursor: default;
				}
				.day {
					color: #2C3C59;
				}
				.scope {
					color: #56A7FD;
				}
				.scope:before {
					content: ' ';
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					z-index: 0;
					background: #D5E9FA;
				}
				.asingle:after {
					content: ' ';
					height: 1.714rem;
					width: 1.714rem;;
					position: absolute;
					top: 0;
					left: 50%;
					bottom: 0;
					margin-left: -0.857rem;
					border-radius: 2px;
					border: 1.5px solid #6D9DA8

				}
				.pitch-on {
					font-weight: 500;
					color: #FFFFFF !important;
				}
				.pitch-out {
					font-weight: 500;
					color: #FFFFFF !important;
				}
				.pitch-on:after, .pitch-out:after {
					content: ' ';
					height: 1.714rem;
					width: 1.714rem;
					position: absolute;
					top: 0;
					z-index: 0;
					background: #6D9DA8;
					left: 50%;
					bottom: 0;
					margin-left: -0.82rem;
					border-radius: 2px;
					border: 1px solid #6D9DA8;
				}
				.pitch-on:before {
					left: 50% !important;
				}
				.pitch-out:before {
					right: 50% !important;
				}

			}

		}
		.operation-box {
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-end;
			align-items: center;
			align-content: flex-end;
			text-align: right;
			width: 100%;
			margin-top: 1.5rem;
			.btn {
				background: none;
				display: inline-block;
				color: #56A7FD;
				border: none;
				cursor: pointer;
				outline: 0;
				&:focus {
					background: none;
					color: #56A7FD;
					border: none;
					outline: 0;
				}
			}
			.apply {
				background: #56A7FD;
				border-radius: 4px;
				padding-left: 2.857rem;
				padding-right: 2.857rem;
				margin-left: 1rem;
				color: #FFFFFF;

			}
		}
	}
	&uploading {
		border: dashed 1px #D3D8DE;
		box-sizing: border-box;
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		min-height: 40px;
		position: relative;
		padding-left: 16px;
		font-weight: bold;
		color: #777879;
		& > input[type="file"] {
			position: absolute;
			font-size: 100px;
			min-height: 40px;
			right: 0;
			top: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			filter: alpha(opacity=0);
			cursor: pointer;
			width: 100%;
			z-index: 1;
			display: block;
		}
		& > i {
			font-size: 32px;
			color: #989A9C;
			margin-right: 10px;
		}
		& > span {
			color: #56A7FD;
			padding: 0 5px;
		}
	}
	&uploading-state {
		min-width: 288px;
		border-radius: 6px;
		display: inline-block;
		@include flexCenter(center);
		justify-content: flex-start !important;
		& > .error {
			background: #EFA2A7;
			color: #ED5158 !important;
			& > .mation {
				& > input[type=text] {
					color: #ED5158 !important;
				}
			}
		}
		& > .details {
			flex: 1;
			padding: 0 2rem 0 1rem;
			color: #C8CDD5;
			@include flexCenter(center);
			justify-content: space-between;
			& > .mation {
				position: relative;
				flex: 1;
				max-width: 280px;
				padding-right: 4rem;
				& > .progress {
					width: 1%;
					height: 2px;
					background: #56A7FD;
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: 2;
				}
				& > .progress + input[type=text] {
					border-bottom: 2px solid #D5E9FA;
				}
				& > input[type=text] {
					z-index: 1;
					width: 100%;
					min-height: 32px;
					background: none;
					padding: 0.643rem 0 !important;
					text-align: left;
					cursor: text;
					outline: none;
					color: #677388;
					border: none;
					transition: all 0.4s;
					&:focus {
						outline: none;
						transition: all 0.4s;
					}
					@include placeholder;
				}
			}

		}
		& > i {
			z-index: 1;
			width: 16px;
			font-size: 22px;
			height: 16px;
			background: none;
			margin-left: 2rem;
			outline: none;
			border: none;
			position: relative;
			color: #C8CDD5;
			& > input[type=button] {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: 1;
				opacity: 0;
				filter: alpha(opacity=0);
				cursor: pointer;
			}
			@include placeholder;

		}
		& > input[type=button] {
			padding: 0 5px;
			background: none;
			border: none;
			display: inline-block;
			margin-left: 10px;
			cursor: pointer;
			color: #56A7FD;
			&:focus {
				border: none;
				outline: none;
			}
		}
	}
	&fold {
		background: #F9F9F9;
		border: 1px solid #DADADA;
		width: 100%;
		&-head {
			background: #F9F9F9;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			@include boder56;
		}
		&-body {
			background: #F9F9F9;
			border-top: none;
			height: 0;
			//overflow:inherit;
			@include transitionAll5;
			div {
				height: 0;
				overflow: hidden;
			}
		}

		.active {
			+ .unis-fold-body {
				border-top: 1px solid #DADADA;
				height: auto;
				//overflow:inherit;
				@include transitionAll5;
				div {
					height: auto;
					overflow: inherit;
				}

			}

		}

	}
	&doubt {
		position: relative;
		height: 24px;
		width: 24px;
		background: url(fonts/toolttipl.svg) no-repeat 50% 50%;
		background-size: 16px 16px;
		cursor: pointer;
		.tooltip-centre {
			display: none;
		}
		&:hover {
			.tooltip-centre {
				display: block !important;
			}
		}
	}
	&btn-group {
		display: flex;
		background: #ECECEC;
		border-radius: 4px;
		width: 100%;
		padding: 2px;
		border: none;
		min-height: 32px;
		align-items: center;
		box-sizing: border-box;
		color: #488492;
		& > button {
			font-size: 16px;
			color: #488492;
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			@include btn;
			border-left-color: #ECECEC;
			border-radius: 0px;
			height: 18px;
			&:not(:last-child) {
				border-right-color: #ECECEC;
			}
			&:not(:first-child) {
				border-left: 1px solid #a7a7a7;
			}
		}
		.active {
			background: #FFFFFF;
			border-radius: 6px;
			height: 28px;
			border-left: none !important;
			+ button {
				border-left: none !important;
			}
		}
	}
	&priority {
		display: flex;
		align-items: center;
		.status {
			display: flex;
			align-items: center;
			.i-box {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 24px;
				height: 24px;
				border-radius: 50%;
			}

		}
	}
	&accordion{
		border: 1px solid #CECECE;
		border-radius: 4px;
		width: 100%;
		.accordion {
			border-bottom: 1px solid #CECECE;
			&:last-child{
				border-bottom: none;
			}
			&-head {
				background: #ffffff;
				display: flex;
				align-items: center;
				border-radius: 4px;
				justify-content: flex-start;
				@include boder56;
			}
			&-body {
				background: #ffffff;
				display: none;
				border-top: none;
				height: 0;
				@include transitionAll5;
				div {
					height: 0;
					overflow: hidden;
				}
			}
			.active {
				+ .accordion-body {
					height: auto;
					display: block;
					@include transitionAll5;
					div {
						height: auto;
						overflow: inherit;
					}

				}

			}
		}


	}

}
.inherit {
	&::after {
		background: currentcolor !important;

	}
	&:hover::after,&:focus::after {
		background: currentcolor!important;
	}
}
.large-group {
	min-height: 40px;
	& > button {
		height: 28px !important;
	}
	.active {
		height: 32px !important;
	}
}

.step-complete {
	display: flex;
  .step-box{
	  display: flex;
	  height:100%;
	  align-items: center;
	  .empty-box{
		  padding: 2px;
		  border-radius: 50%;
		  border-style: solid;
		  border-width: 2px;
		  .step{
			  width: 28px;
			  height: 28px;
			  border-radius: 50%;
			  display: flex;
			  justify-content: center;
			  align-items: center;
			  font-weight: bold;
		  }
	  }
	  .top-line{
		  min-width: 2px;
		  min-height:2px;
		  flex: 1;
	  }
	  .line{
		  min-width: 2px;
		  min-height:2px;
		  flex: 1;
	  }



  }
}

.icon-box {
	display: flex;
	flex-wrap: wrap;
	border-radius: 4px;
	border: none;
	& > button {
		padding: 0.438em;
		background: #E9EBEF;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		padding: 2px;
		border-radius: 0.2rem;
		border: none;
		background: #ECECEC;
		color: $themePressed;
		outline: 0;
		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		.activity {
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #FFFFFF;
			border-radius: 4px;
		}
	}
}

.multi-file {
	min-height: 99px;
	font-weight: inherit;
	i {
		font-size: 52px
	}
}


.tooltip-centre {
	position: absolute;
	z-index: 1060;
	text-align: left;
	.content {
		position: relative;
		.popoverd {
			position: absolute;
			margin: auto;
			.title-content {
				word-break: break-all;
				position: relative;
				border-radius: 4px;
				line-height: 1.1428571428571428rem !important;
				&:before {
					content: '';
					position: absolute;
					border-width: 10px;
					border-style: solid;
				}
			}
		}
	}

}
.centre-bottom {
	top: calc(100% + 10px);
	margin: auto !important;
	.content {
		position: relative;
		.popoverd {
			position: inherit !important;
			top: 100%;
			left:  calc(-50% + 13px);
			width: auto;
			margin: auto;
			.title-content {
				word-break: break-all;
				&:before {
					top: -20px;
					left: calc(50% + -10px);
					border-color:  transparent transparent currentcolor transparent !important;
				}
			}

		}
	}

}
.centre-top {
	top: calc(-100% + -20px);
	margin: auto !important;
	.content {
		position: relative;
		height: auto;
		.popoverd {
			position: inherit !important;
			top: calc(-100% + -20px);
			left:  calc(-50% + 13px);
			width: auto;
			margin: auto;
			.title-content {
				word-break: break-all;
				&:before {
					bottom: - 20px;
					left: calc(50% + -10px);
					border-color: currentcolor transparent transparent  transparent !important;
				}
			}

		}
	}
}

.centre-right {
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 1px;
	.content {
		position: relative;
		height: 100%;
		width: 1px;
		.popoverd {
			left: 20px;
			top: 0;
			bottom: 0;
			height:100%;
			display: flex;
			align-items: center;
			margin: auto;
			.title-content {
				word-break: break-all;
				&:before {
					top: calc(50% - 10px);
					left: -20px;
					border-color: transparent currentcolor transparent transparent !important;
				}
			}
		}

	}

}

.centre-left {
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 1px;
	.content {
		position: relative;
		height: 100%;
		width: 1px;
		.popoverd {
			right: 20px;
			top: 0;
			bottom: 0;
			height:100%;
			display: flex;
			margin: auto;
			align-items: center;
			.title-content {
				word-break: break-all;
				margin-right: 20px;
				&:before {
					top: calc(50% - 10px);
					right: -20px;
					border-color: transparent transparent transparent currentcolor !important;
				}
			}
		}

	}

}




.tool {
	position: absolute;
	z-index: 1060;
	width: 126px;
	color: white;
	.popoverd-content {
		color: $White;
		@include noboder40;
		text-align: center;
		background-color: $bodythemeDefaultColor;
		&:before {
			border-width: 10px;
		}
	}

}

.tool-bottom {
	top: calc(100% + 11px);
	left: calc(50% - 63px);;
	.popoverd-content {
		&:before {
			top: -20px;
			left: calc(50% - 11px);
			border-color: transparent transparent $bodythemeDefaultColor transparent;

		}
	}
}

.tool-top {
	top: calc(100% + 11px);
	left: calc(50% - 63px);;
	.popoverd-content {
		&:before {
			top: 40px;
			left: calc(50% - 11px);
			border-color: $bodythemeDefaultColor transparent transparent transparent;

		}
	}
}

.tool-left {
	top: calc(-50% + -20px);
	right: calc(100% + 15px);
	.popoverd-content {
		&:before {
			top: 27%;
			left: 126px;
			border-color: transparent transparent transparent $bodythemeDefaultColor;

		}
	}
}

.tool-right {
	top: calc(-50% + -20px);
	left: calc(100% + 15px);
	.popoverd-content {
		&:before {
			top: 27%;
			left: -20px;
			border-color: transparent $bodythemeDefaultColor transparent transparent;

		}
	}
}

.popoverd-bottom {
	top: calc(100% + 11px);
	left: calc(-100% - 25px);
	.popoverd-content {
		&:before {
			top: -20px;
			left: calc(50% - 11px);

		}
	}
}

.popoverd-content {
	position: relative;
	padding-left: $px16;
	padding-right: $px16;
	border-radius: 6px;
	&:before {
		content: '';
		position: absolute;
		left: 50%;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent transparent $bodythemeDefaultColor transparent;
	}
}

.tooltip {
	position: absolute;
	z-index: 1060;
	width: 140px;
	height: 32px;
	text-align: left;
	color: white;
	.popoverd-content {
		text-align: left;
		color: var(--SG900);
		@include noboder32;
		line-height: 17px;
		min-height: $px32;
		background-color: var(--SG100);
		&:before {
			border-width: 10px;
		}
	}
}

.tooltip-bottom {
	top: calc(100% + 11px);
	left: calc(50% - 70px);
	.popoverd-content {
		&:before {
			top: -20px;
			left: calc(50% - 11px);
			border-color: transparent transparent var(--SG100) transparent;

		}
	}
}

.tooltip-top {
	top: calc(-100% + -17px);
	left: calc(50% - 70px);;
	.popoverd-content {
		&:before {
			top: 32px;
			left: calc(50% - 11px);
			border-color: var(--SG100) transparent transparent transparent;

		}
	}
}

.tooltip-left {
	top: calc(-50% + 7px);
	right: 32px;
	.popoverd-content {
		&:before {
			top: 6px;
			left: 138px;
			border-color: transparent transparent transparent var(--SG100);

		}
	}
}

.tooltip-right {
	top: calc(-50% + 7px);
	left: calc(100% + 10px);
	.popoverd-content {
		&:before {
			top: 6px;
			left: -18px;
			border-color: transparent var(--SG100) transparent transparent;

		}
	}
}

.popoverd-bottom {
	top: calc(100% + 11px);
	left: calc(-100% - 25px);
	.popoverd-content {
		&:before {
			top: -20px;
			left: calc(50% - 11px);

		}
	}
}

.popoverd-content {
	position: relative;
	@include noboder40;
	padding-left: $px16;
	padding-right: $px16;
	background-color: $bodythemeDefaultColor;
	color: $White;
	border-radius: 6px;
	text-align: center;
	&:before {
		content: '';
		position: absolute;
		left: 50%;
		width: 0;
		height: 0;
		border-width: 10px;
		border-style: solid;
		border-color: transparent transparent $bodythemeDefaultColor transparent;
	}
}

.td-check-box {
	width: 56px !important;
	border-right-width: 1px;
	border-color: var(--G300);
	padding-left: $px16 !important;
	padding-right: 0.6428571428571429rem !important;
	border-style: solid;
	box-sizing: border-box;
	~ td {
		padding-left: 24px;
	}
	~ th {
		padding-left: 24px;
	}
}

.rotateUp {
	&::after {
		@include arrowTransition(.5s, -135deg);
		margin-top: -2px !important;
	}
}

.scale6 {
	transform: scale(0.6, 0.5) !important;
	-ms-transform: scale(0.6, 0.5) !important;
	-moz-transform: scale(0.6, 0.5) !important;
	-webkit-transform: scale(0.6, 0.5) !important;
	-o-transform: scale(0.6, 0.5) !important;
	display: flex;
}

.scale8 {
	transform: scale(0.8, 0.7) !important;
	-ms-transform: scale(0.8, 0.7) !important;
	-moz-transform: scale(0.8, 0.7) !important;
	-webkit-transform: scale(0.8, 0.7) !important;
	-o-transform: scale(0.8, 0.7) !important;
	display: flex;
}

.icon-up {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.left {
	left: 0 !important;
	right: inherit !important;
}

.right {
	right: 0 !important;
	left: inherit !important;
}
