@import "pxToRemAndEm";
@import "vars";
@import "common-mixins/functions";
@import "common-mixins/mixins";
$cubreakpoints: (
        xs: 0,
        sm: 640px,
        md: 750px,
        lg: 992px,
        xl: 1200px
) !default;
/*
$mdcolpoints: (
        -xs:(
                1:100%,
                2:100%,
                3:100%,
                4:100%,
                5:100%,
                6:100%,
                7:100%,
                8:100%,
                9:100%,
                10:100%,
                11:100%,
                12:100%,
        ),
        -sm:(
                2:100%,
                3:100%,
                4:100%,
                5:100%,
                6:100%,
                7:100%,
                8:100%,
                9:100%,
                10:100%,
                11:100%,
                12:100%,
        ),
        -md:(
                2:100%,
                3:100%,
                4:100%,
                5:100%,
                6:100%,
                7:100%,
                8:100%,
                9:100%,
                10:100%,
                11:100%,
                12:100%,
        ),
        -lg:(
                2:16.66666667%,
                3:25%,
                4:33.33333333%,
                5:41.66666667%,
                6:50%,
                7:58.33333333%,
                8:66.66666667%,
                9:75%,
                10:83.33333333%,
                11:91.66666667%,
                12:100%,
        ),
        -xl:(
                2:16.66666667%,
                3:25%,
                4:33.33333333%,
                5:41.66666667%,
                6:50%,
                7:58.33333333%,
                8:66.66666667%,
                9:75%,
                10:83.33333333%,
                11:91.66666667%,
                12:100%,
        ),
);
$lgcolpoints: (
        -xs:(
                1:100%,
                2:100%,
                3:100%,
                4:100%,
                5:100%,
                6:100%,
                7:100%,
                8:100%,
                9:100%,
                10:100%,
                11:100%,
                12:100%,
        ),
        -sm:(
                2:100%,
                3:100%,
                4:100%,
                5:100%,
                6:100%,
                7:100%,
                8:100%,
                9:100%,
                10:100%,
                11:100%,
                12:100%,
        ),
        -md:(
                2:100%,
                3:100%,
                4:100%,
                5:100%,
                6:100%,
                7:100%,
                8:100%,
                9:100%,
                10:100%,
                11:100%,
                12:100%,
        ),
        -lg:(
                2:16.66666667%,
                3:25%,
                4:33.33333333%,
                5:41.66666667%,
                6:50%,
                7:58.33333333%,
                8:66.66666667%,
                9:75%,
                10:83.33333333%,
                11:91.66666667%,
                12:100%,
        ),
        -xl:(
                2:16.66666667%,
                3:25%,
                4:33.33333333%,
                5:41.66666667%,
                6:50%,
                7:58.33333333%,
                8:66.66666667%,
                9:75%,
                10:83.33333333%,
                11:91.66666667%,
                12:100%,
        ),
);
@include md-flex('md',$cubreakpoints,$mdcolpoints);
@include md-flex('lg',$cubreakpoints,$lgcolpoints);
$classpoints: (
        -xs:(
                width:130px,
                height:130px,
        ),
        -sm:(
                width:130px,
                height:130px,
        ),
        -md:(
                width:80px,
                height:80px,
        ),
        -lg:(
                width:50px,
                height:50px,
        )
);
@include md-fillter('photo-35',$cubreakpoints,$classpoints);



@include md-m-p("md");*/


$colpoints: (
        -sm:(
                2:100%,
        ),
        -md:(
                2:100%,
        ),
        -lg:(
                2:16.66666667%,
        ),
        -xl:(
                2:16.66666667%,
        ),
);

@include  media-flex($cubreakpoints,$colpoints)
