@import "pxToRemAndEm";
@import "vars";
@import "common-mixins/functions";
@import "common-mixins/mixins";

//
//在 Sass 中 map 自身带了七个函数：
//
//map-get($map,$key)：根据给定的 key 值，返回 map 中相关的值。
//map-merge($map1,$map2)：将两个 map 合并成一个新的 map。
//map-remove($map,$key)：从 map 中删除一个 key，返回一个新 map。
//map-keys($map)：返回 map 中所有的 key。
//map-values($map)：返回 map 中所有的 value。
//map-has-key($map,$key)：根据给定的 key 值判断 map 是否有对应的 value 值，如果有返回 true，否则返回 false。
//keywords($args)：返回一个函数的参数，这个参数可以动态的设置 key 和 value。

$cubreakpoints: (
        xs: 0,
        sm: 640px,
        md: 750px,
        lg: 992px,
        xl: 1200px
) !default;




$xmcol: (
        2:fullfexName(100%),
        3:fullfexName(100%),
        4:fullfexName(100%),
        5:fullfexName(100%),
        6:fullfexName(100%),
        7:fullfexName(100%),
        8:fullfexName(100%),
        9:fullfexName(100%),
        10:fullfexName(100%),
        11:fullfexName(100%),
        12:fullfexName(100%),
);


$smcol: (
        2:fullfexName(33.33333333%),
        3:fullfexName(33.33333333%),
        4:fullfexName(33.33333333%),
        5:fullfexName(50%),
        6:fullfexName(50%),
        7:fullfexName(50%),
        8:fullfexName(50%),
        9:fullfexName(100%),
        10:fullfexName(100%),
        11:fullfexName(100%),
        12:fullfexName(100%),
);


$lgcol: (
        2:fullfexName(16.66666667%),
        3:fullfexName(25%),
        4:fullfexName(33.33333333%),
        5:fullfexName(41.66666667%),
        6:fullfexName(50%),
        7:fullfexName(58.33333333%),
        8:fullfexName(66.66666667%),
        9:fullfexName(75%),
        10:fullfexName(83.33333333%),
        11:fullfexName(91.66666667%),
        12:fullfexName(100%),
);



$colPoints: (
        xs:( lg:$xmcol),
        md:(lg:$smcol)
);
//.md\:img-cover {
//        width: 100%;
//        height: 100%;
//        border-radius: 0;
//        object-fit: cover; }

$defaultPhoto: (
        25:fullSquareName(85px,50%),
        65:fullSquareName(25%,8px),
);
$smPhoto: (
        25:fullSquareName(95px,50%),

);
$mdPhoto: (
        25:fullSquareName(45px,50%),

);
$photoPoints: (
        default:(lg:$defaultPhoto),
        xs:(lg:$smPhoto),
        md:(lg:$mdPhoto)
);
$defaultMt: (
        25:fullSquareName(85px,50%),
        65:fullSquareName(25%,8px),
);
$smMtPoints: (
        default:(lg:$defaultPhoto),
        xs:(lg:$smPhoto),
        md:(lg:$mdPhoto)
);



$xsGridPhoto: (
        1:fullGridName(1,16px)

);

$smGridPhoto: (
        2:fullGridName(2,16px)

);
$mdGridPhoto: (
        3:fullGridName(3,16px)

);

$lgGridPhoto: (
        4:fullGridName(4,16px)

);
$xlGridPhoto: (
        4:fullGridName(6,16px)

);
$gridPoints: (

        xs:(xs:$xsGridPhoto),
        sm:(sm:$smGridPhoto),
        md:(md:$mdGridPhoto),
        lg:(lg:$lgGridPhoto),
        xl:(xlg:$xlGridPhoto)
);



$classPoints:(grid:$gridPoints);

//
//在 Sass 中 map 自身带了七个函数：
//
//map-get($map,$key)：根据给定的 key 值，返回 map 中相关的值。
//map-merge($map1,$map2)：将两个 map 合并成一个新的 map。
//map-remove($map,$key)：从 map 中删除一个 key，返回一个新 map。
//map-keys($map)：返回 map 中所有的 key。
//map-values($map)：返回 map 中所有的 value。
//map-has-key($map,$key)：根据给定的 key 值判断 map 是否有对应的 value 值，如果有返回 true，否则返回 false。
//keywords($args)：返回一个函数的参数，这个参数可以动态的设置 key 和 value。

$cubreakpoints: (
        xs: 0,
        sm: 640px,
        md: 750px,
        lg: 992px,
        xl: 1200px
) !default;




$xmcol: (
        2:fullfexName(100%),
        3:fullfexName(100%),
        4:fullfexName(100%),
        5:fullfexName(100%),
        6:fullfexName(100%),
        7:fullfexName(100%),
        8:fullfexName(100%),
        9:fullfexName(100%),
        10:fullfexName(100%),
        11:fullfexName(100%),
        12:fullfexName(100%),
);


$smcol: (
        2:fullfexName(33.33333333%),
        3:fullfexName(33.33333333%),
        4:fullfexName(33.33333333%),
        5:fullfexName(50%),
        6:fullfexName(50%),
        7:fullfexName(50%),
        8:fullfexName(50%),
        9:fullfexName(100%),
        10:fullfexName(100%),
        11:fullfexName(100%),
        12:fullfexName(100%),
);


$lgcol: (
        2:fullfexName(16.66666667%),
        3:fullfexName(25%),
        4:fullfexName(33.33333333%),
        5:fullfexName(41.66666667%),
        6:fullfexName(50%),
        7:fullfexName(58.33333333%),
        8:fullfexName(66.66666667%),
        9:fullfexName(75%),
        10:fullfexName(83.33333333%),
        11:fullfexName(91.66666667%),
        12:fullfexName(100%),
);



$colPoints: (
        xs:( lg:$xmcol),
        md:(lg:$smcol)
);
//.md\:img-cover {
        //width: 100%;
        //height: 100%;
        //border-radius: 0;
        //object-fit: cover; }

$defaultPhoto: (
        25:fullSquareName(85px,50%),
        65:fullSquareName(25%,8px),
);
$smPhoto: (
        25:fullSquareName(95px,50%),

);
$mdPhoto: (
        25:fullSquareName(45px,50%),

);
$photoPoints: (
        default:(lg:$defaultPhoto),
        xs:(lg:$smPhoto),
        md:(lg:$mdPhoto)
);
$defaultMt: (
        25:fullSquareName(85px,50%),
        65:fullSquareName(25%,8px),
);
$smMtPoints: (
        default:(lg:$defaultPhoto),
        xs:(lg:$smPhoto),
        md:(lg:$mdPhoto)
);

$sxGridPhoto: (
        1:fullGridName(1,16px)

);

$smGridPhoto: (
        2:fullGridName(2,16px)

);
$mdGridPhoto: (
        3:fullGridName(3)

);

$lgGridPhoto: (
        4:fullGridName(4,16px)

);
$xlGridPhoto: (
        6:fullGridName(6,16px)

);

$defaultGrids: (
        1:fullGridName(1,16px),
        2:fullGridName(2,16px),
        3:fullGridName(3,16px),
        4:fullGridName(4,16px),
        5:fullGridName(5,16px),
        6:fullGridName(6,16px),
        7:fullGridName(7,16px),
        8:fullGridName(8,16px),
        9:fullGridName(9,16px),
        10:fullGridName(10,16px),
        11:fullGridName(11,16px),
        12:fullGridName(12,16px),
);

$gridPoints: (
        default:$defaultGrids,
        xs:(xs:$xsGridPhoto),
        sm:(sm:$smGridPhoto),
        md:(md:$mdGridPhoto),
        lg:(lg:$lgGridPhoto),
        xl:(xl:$xlGridPhoto)
);



//$classPoints:(col:$colPoints,poto:$photoPoints, grid:$gridPoints);
$classPoints:(grid:$gridPoints);

@include  media-min-max($media-min-max-points,$classPoints)
