
.col-6, .col-5, .col-4, .col-3, .col-2, .col-8{
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 0px;
	padding-bottom: 24px;
}
.p-4{
	padding-left:1.714rem !important;
	padding-right:0rem !important;
	padding-top:0rem !important;
}

.unis-btn-text {
	color: #56A7FD;
	padding:0rem 0rem !important;
	transition: background 0.5s;
	font-weight: 500;
	font-size: 13px;
	line-height: 24px;
 	min-width: 0px !important;
}
.unis-btn-text:hover {
	transition: background 0.5s;
}
.unis-btn-text:focus {
	transition: background 0.5s;
}
.unis-btn-warning.disabled, .unis-btn-text:disabled {
	color: #afb6c1;
	cursor: not-allowed !important; }

.page-title{
	position:relative;
	top:1.714rem;
	bottom:1.714rem;
	z-index: 2;
	margin:24px;
	align-items:flex-start;
	display:inline-block;
	display:flex;
	font-weight:600;
	font-size:2.285rem; }

.unis-section {
	position: relative;
	top:1.714rem;
	bottom:1.714rem;
	z-index: 2;
	margin:24px;}

.unis-section .position-re {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start; }
.unis-section .position-re .modification {
	display: inline-block;
	background: #ffffff;
	box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.07);
	max-width: 64rem;
	min-width: 45.286rem; }
.unis-section .position-re .modification .header {
	padding:  1.714rem 1.714rem 0 1.714rem;
	box-sizing:border-box;
	word-wrap: break-word;
	font-style: normal;
	font-size: 1.143rem;
	line-height: 1.714rem;
	font-weight: 600;
	letter-spacing: 0.4px;
 	color: #2C3C59; }
.unis-section .position-re .modification .header .required-text{
	font-weight:500;
	font-size: 13px;
	color:#ED5158
}
.unis-section > .header > .title {
	padding: 0.571rem 0;
	margin-right: 2.286rem;
	position: relative; }
.unis-section .modification .checkbox{
	margin-bottom:1.413rem;
}
.unis-section .modification .content {
	padding:  1.714rem;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
	color: #2C3C59;
	font-size: .929rem;
	font-weight: 500;
	overflow-y: visible;}
.unis-section .modificat .content .dropdown{
	position: relative; }
.dropdown + .dropdown{
	margin-top: 24px;
}
.dropdown + .d-flex{
	margin-top: 24px;
}
.unis-section .modification .content .charge-label {
	font-size: 14px;
	font-weight:500;
}
.unis-section .modification .content .charge{
	font-size: 24px;
	font-weight:600;
}
.unis-section .modification .bottom_box {
	width: 100%;
	box-sizing: border-box;
	font-size: 14px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding:  0 1.714rem 1.714rem 1.714rem; }
.unis-section .modification .bottom_address {
	width: 100%;
	box-sizing: border-box;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.714rem;
	display: flex;
	padding: 1.714rem;
	justify-content:flex-start; }

.unis-section .position-re .modification .profile-header {
	padding: 1.714rem 1.142rem 1.714rem 1.714rem;
	box-sizing:border-box;
	word-wrap: break-word;
	font-style: normal;
	font-weight: 600;
	font-size: 1.143rem;
	line-height: 1.714rem;
	letter-spacing: 0.4px;
	color: #677388; }
	.unis-section > .profile-header > .profile-title {
		padding: 0.571rem 0;
		margin-right: 2.286rem;
		position: relative; }
	.unis-section .modification .profile-header .profile-email{
		color: #2C3C59; }
	.unis-section .modification .profile-content{
		padding: 0 1.714rem 1.714rem 1.714rem;
	  display: flex; }

	.unis-section .position-re .modification .billing-header{
		padding: 1.714rem 1.142rem 1.714rem 1.714rem;
		box-sizing:border-box;
		word-wrap: break-word;
		font-style: normal;
		font-weight: 600;
		font-size: 1.143rem;
		line-height: 1.714rem;
		letter-spacing: 0.4px;
		color: #677388;
	}
	.unis-section > .billing-header > .billing-title {
		padding: 0.571rem 0;
		margin-right: 2.286rem;
		position: relative; }
	.unis-section .modification .billing-header .billing-balance{
		color: #2C3C59; }
	.unis-section .modification .billing-label{
		font-weight:600;
		font-size: 14px;
		color: #677388;
	}
	.unis-section .modification .billing-info{
		font-weight:600;
		font-size: 13px;
	}

	.unis-section .modification .small-header{
		padding: 1.714rem 1.714rem 0rem 1.714rem;
		box-sizing: border-box;
		word-wrap: break-word;
		font-style: normal;
		font-size: .928rem;
		line-height: 1.714rem;
		font-weight: 500;
		letter-spacing: 0.4px;
	 	color: #2C3C59;
	}

	.unis-login-container {
    text-align: center; }
  .unis-login-input-group .unis-login-input {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none; }
  .unis-login-input-group .unis-login-input.placeholder {

  }
  .unis-login-section{
    display: moz-inline-stack;
    display:inline-block;
    vertical-align:top;
    zoom:1l
    height: auto;
    padding: 24px 0px;
    max-width: 504px;
    position: relative;
    text-align: left;
    width: 100% }

  .unis-login-section .unis-login-header{
		font-size:24px;
		font-weight:600;
		text-align: center;
		 }
	.unis-login-section .unis-login-header-text{
		font-size:16px;
		font-weight: 500;
	 	line-height: 24px;
	 	margin-bottom:24px;}
  .unis-login-section .required-fields{
    color: #2C3C59;
    font-family: Avenir Next;
    font-size: 13px; }
  .unis-login-section .unis-login-form{
    margin: 0;
    max-width: 504px;
    width: 100% }
	.unis-login-section .unis-login-put{
		margin-bottom:24px; }
  .unis-login-section .unis-login-help::before,.unis-login-section .osc-login-help::after{
		content: " "; }
	.unis-login-section .unis-login-help-link-one{
		float:left;
		font-size: 12px; }
	.unis-login-section .unis-login-help-link-two{
		float:right;
		font-size:12px; }
	.unis-login-section .unis-login-help-text{
		margin-top:24px;
		margin-bottom:24px;
		font-weight:500;
		font-size:13px;
		line-height: 24px;
	}
  .unis-login-section .bottom-box{
		text-align: center !important; }
	.unis-login-section .bottom-box-link{
		width:90px;
		margin:auto;
		padding-top:12px;
	}
	.unis-popup-win .modification{
		min-width: 37.214rem;
		min-height:16rem;
	}
	.unis-popup-win .modification .content{
		padding-bottom:24px;
	}
	.unis-popup-win .position-re .modification .profile-header {
		padding: 0rem 1.142rem 1.714rem 1.714rem;
		box-sizing:border-box;
		word-wrap: break-word;
		font-style: normal;
		font-weight: 600;
		font-size: 1.143rem;
		line-height: 1.714rem;
		letter-spacing: 0.4px;
		color: #677388; }
		.unis-popup-win > .profile-header > .profile-title {
			padding: 0.571rem 0;
			margin-right: 2.286rem;
			position: relative; }
		.unis-popup-win .modification .profile-header .profile-email{
			color: #2C3C59; }
		.unis-popup-win .modification .content .unis-login-help-text{
			margin-top:24px;
			margin-bottom:24px;
			font-weight:500;
			font-size:13px;
			line-height: 24px; }
		.unis-printer-name{
			font-size:1rem;
			font-weight:500; }




			.unis-aside {
				height: 100%;
				width: 240px;
				transition: width 0.5s;
				overflow: hidden;
				background: #2C3C59; }
			.unis-aside.shrink {
				width: 5.142rem !important;
				transition: width 0.5s; }
			.unis-aside.shrink > .logo-box > .spread > i {
				width: 1.557rem;
				height: 0.143rem;
				background: #FFFFFF;
				display: block;
				position: relative; }
			.unis-aside.shrink > .logo-box > .spread > i:before {
				left: 60%;
				right: 0;
				transition: all 0.5s; }
			.unis-aside.shrink > .logo-box > .spread > i:after {
				left: 40%;
				right: 0;
				transition: all 0.5s; }
			.unis-aside.shrink > .logo-box > .logo {
				font-size: 2.857rem;
				color: #FFFFFF;
				margin-left: 1.511rem; }
			.unis-aside.shrink > .project-name {
				display: none; }
			.unis-aside.shrink > .project-name-shrink {
				display: block; }
			.unis-aside > .logo-box {
				padding: 1.714rem 1.766rem;
				width: 240px;
				display: flex;
				justify-content: flex-start;
				align-items: center; }
			.unis-aside > .logo-box > .spread {
				width: 1.557rem;
				height: 1.4rem;
				cursor: pointer; }
			.unis-aside > .logo-box > .spread > i {
				width: 1.557rem;
				height: 0.143rem;
				background: #FFFFFF;
				display: block;
				position: relative; }
			.unis-aside > .logo-box > .spread > i:before {
				content: '';
				position: absolute;
				bottom: -400%;
				left: 0;
				right: 60%;
				height: 0.143rem;
				background: #FFFFFF;
				transition: all 0.5s; }
			.unis-aside > .logo-box > .spread > i:after {
				content: '';
				position: absolute;
				bottom: -800%;
				left: 0;
				right: 40%;
				height: 0.143rem;
				background: #FFFFFF;
				transition: all 0.5s; }
			.unis-aside > .logo-box > .logo {
				font-size: 2.857rem;
				color: #FFFFFF;
				margin-left: 1.511rem; }
			.unis-aside > .project-name {
				padding-left: 1.766rem;
				padding-top: 1.143rem;
				display: block;
				width: 240px;
				color: #FFFFFF; }
			.unis-aside > .project-name-shrink {
				display: none;
				padding-top: 1.143rem;
				text-align: center;
				color: #FFFFFF; }
			.unis-aside > ul {
				padding: 5.14rem 0 0 0;
				width: 240px; }
			.unis-aside > ul > li {
				padding: .85rem 0rem;
				min-height: 3.429rem;
				display: flex;
				position: relative;
				width: 240px;
				color: #FFFFFF;
				flex-flow: wrap;
				font-size: 1.143rem; }
			.unis-aside > ul > li > input[type=radio] {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				display: block;
				width: 100%;
				font-size: 100rem;
				height: 3.429rem;
				cursor: pointer;
				z-index: 0;
				filter: alpha(opacity=0);
				-moz-opacity: 0;
				-khtml-opacity: 0;
				opacity: 0; }
			.unis-aside > ul > li > input[type=radio]:checked ~ ul {
				padding-top: 4px;
				z-index: 1;
				background: rgba(0, 0, 0, 0.15); }
			.unis-aside > ul > li > input[type=radio]:checked ~ ul > li {
				min-height: 2rem;
				padding: 0.643rem 0  0.643rem  1.3rem !important;
				transition: all 0.5s; }
			.unis-aside > ul > li > input[type=radio]:checked ~ ul > li a, .unis-aside > ul > li > input[type=radio]:checked ~ ul > li .a {
				height: auto !important;
				display: block;
				overflow: inherit; }
			.unis-aside > ul > li > input[type=radio]:checked ~ .bors {
				bottom: 0;
				transition: all 0.8s; }
			.unis-aside > ul > li > input[type=radio]:checked ~ .dis-flex {
				width: 100%;
				background: rgba(0, 0, 0, 0.15);
				display: flex;
				align-items: center; }
			.unis-aside > ul > li > input[type=radio]:checked ~ .dis-flex .aside-titles {
				flex: 1;
				line-height: 1.2em !important; }
			.unis-aside > ul > li > input[type=radio]:checked ~ .dis-flex .unis-arrow {
				-webkit-transform: rotate(90deg);
				transition: all 0.8s; }
			.unis-aside > ul > li > .dis-flex {
				width: 100%;
				padding: 0 1.039rem 0 1.766rem;
				display: flex;
				align-items: center;
				min-height: 3.429rem; }
			.unis-aside > ul > li > .dis-flex .aside-titles {
				padding-left: 1.6rem;
				flex: 1;
				line-height: 1.2em !important; }
			.unis-aside > ul > li > .dis-flex .unis-arrow {
				transition: all 0.8s; }
			.unis-aside > ul > li > .bors {
				position: absolute;
				top: 0;
				display: block;
				bottom: 100%;
				left: 0;
				width: 0.286rem;
				background: #56A7FD;
				transition: all 0.8s; }
			.unis-aside > ul > li > ul {
				display: block;
				width: 100%;
				list-style: none; }
			.unis-aside > ul > li > ul > li {
				width: 100%;
				min-height: 0rem;
				line-height: normal;
				display: flex;
				justify-content: flex-start;
				flex-flow: nowrap;
				align-items: center;
				padding-left: 1.3rem;
				transition: all 0.5s; }
			.unis-aside > ul > li > ul > li a, .unis-aside > ul > li > ul > li .a {
				text-decoration: none;
				color: #FFFFFF;
				cursor: pointer;
				display: flex;
				align-items: center;
				height: 0px;
				overflow: hidden;
				transition: all 1s; }
			.unis-aside > ul > li > ul > li a i, .unis-aside > ul > li > ul > li .a i {
				margin-right: 1rem; }
			.unis-aside > ul > li > ul > li a .circle, .unis-aside > ul > li > ul > li .a .circle {
				width: 1.143em;
				height: 1.143em;
				display: inline-block;
				vertical-align: middle;
				position: relative; }
			.unis-aside > ul > li > ul > li a .circle:before, .unis-aside > ul > li > ul > li .a .circle:before {
				content: " ";
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -0.143em;
				margin-top: -0.143em;
				width: 0.286em;
				height: 0.286em;
				border-radius: 0.286em;
				background: currentcolor; }
			.unis-aside > ul > li > ul > li a:hover, .unis-aside > ul > li > ul > li .a:hover {
				color: #56A7FD; }
			.unis-aside > ul > li > ul > li a.active, .unis-aside > ul > li > ul > li .a.active {
				color: #56A7FD; }
			.unis-aside > ul > li > i {
				color: #FFFFFF;
				margin-right: 1.766rem;
				font-size: 1.143rem; }
			.unis-aside > ul > li > .unis-arrow {
				font-size: 0.429rem;
				margin-right: 16px !important;
				margin-left: auto;
				transition: all 0.8s; }
			.unis-table-text{
				text-align:right;
				font-weight: bold;
				font-size: 13px;
			}
